<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content">
		<div class="modal" th:id="|skr-ingame-help-modal-${id}|" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="text-center" th:text="${title}">Title</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="container">
							<div class="row">
								<div class="col-12 small" th:include="::__${fragment}__" th:with="content=${content},data=${data}">Content</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a th:if="${button == null || !button}" class="skr-ingame-help-show-modal-button btn" th:id="|skr-ingame-help-show-modal-button-${id}|"
			th:title="#{help}">
			<i class="fa-fw fas fa-question text-primary"></i>
		</a>
		<button type="button" th:if="${button}" class="skr-ingame-help-show-modal-button btn btn-secondary"
			th:id="|skr-ingame-help-show-modal-button-${id}|" th:title="#{help}">
			<i class="fa-fw fas fa-question text-white"></i>
		</button>
	</div>

	<div th:fragment="simple">
		<div th:utext="${content}"></div>
	</div>

	<div th:fragment="planet-mines">
		<div th:utext="#{help_planet_mines_intro(${faction.mineProductionRate * 100.0})}"></div>
		<div class="row mt-3 mb-3">
			<div class="col-6 text-right">
				<span th:text="#{help_planet_mines_highly_concentrated}"></span>
				<i class="fa-fw fas fa-angle-double-up"></i>
			</div>
			<div class="col-6" th:text="|1 #{mine}|"></div>
			<div class="col-6 text-right">
				<span th:text="#{help_planet_mines_concentrated}"></span>
				<i class="fa-fw fas fa-angle-up"></i>
			</div>
			<div class="col-6" th:text="|2 #{mines}|"></div>
			<div class="col-6 text-right">
				<span th:text="#{help_planet_mines_distributed}"></span>
				<i class="fa-fw fas fa-minus"></i>
			</div>
			<div class="col-6" th:text="|4 #{mines}|"></div>
			<div class="col-6 text-right">
				<span th:text="#{help_planet_mines_highly_scattered}"></span>
				<i class="fa-fw fas fa-angle-down"></i>
			</div>
			<div class="col-6" th:text="|6 #{mines}|"></div>
			<div class="col-6 text-right">
				<span th:text="#{help_planet_mines_dispersed}"></span>
				<i class="fa-fw fas fa-angle-double-down"></i>
			</div>
			<div class="col-6" th:text="|10 #{mines}|"></div>
		</div>
		<div th:text="#{help_planet_mines_max_count}"></div>
		<div class="row mt-3 mb-3">
			<div class="col-sm-4 col-lg-5"></div>
			<div class="text-center col-sm-4 col-lg-3">
				<div class="row">
					<div class="col-12" th:text="|#{help_planet_mines_costs_per_mine}:|"></div>
					<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{money},value='4',icon='fa fa-coins'"></div>
					<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{supplies},value='1 KT',icon='fa fa-cube'"></div>
				</div>
			</div>
		</div>
		<div th:text="#{help_planet_mines_auto_build}"></div>
		<div th:text="#{help_planet_auto_build_order}"></div>
	</div>

	<div th:fragment="planet-factories">
		<div th:utext="#{help_planet_factories_intro(${faction.factoryProductionRate * 100.0})}"></div>
		<div class="row mt-3 mb-3">
			<div class="col-sm-4 col-lg-5"></div>
			<div class="text-center col-sm-4 col-lg-3">
				<div class="row">
					<div class="col-12" th:text="|#{help_planet_factories_costs_per_factories}:|"></div>
					<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{money},value='3',icon='fa fa-coins'"></div>
					<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{supplies},value='1 KT',icon='fa fa-cube'"></div>
				</div>
			</div>
		</div>
		<div th:text="#{help_planet_factories_auto_build}"></div>
		<div th:text="#{help_planet_auto_build_order}"></div>
	</div>

	<div th:fragment="planet-defense">
		<div th:utext="#{help_planet_defense_intro}"></div>
		<div class="mt-3" th:utext="#{help_planet_defense_population_text}"></div>
		<div class="row mt-3 mb-3">
			<div class="col-sm-4 col-lg-5"></div>
			<div class="text-center col-sm-4 col-lg-3">
				<div class="row">
					<div class="col-12" th:text="|#{help_planet_defense_costs_per_defense}:|"></div>
					<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{money},value='10',icon='fa fa-coins'"></div>
					<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{supplies},value='1 KT',icon='fa fa-cube'"></div>
				</div>
			</div>
		</div>
		<div th:text="#{help_planet_defense_auto_build}"></div>
		<div th:text="#{help_planet_auto_build_order}"></div>
	</div>

	<div th:fragment="starbase-defense">
		<div th:utext="#{help_planet_defense_intro}"></div>
		<div class="mt-3" th:utext="#{'help_starbase_defense_structure_count_' + ${data.name()}(${data.getMaxDefense()})}"></div>
		<div class="row mt-3 mb-3">
			<div class="col-sm-4 col-lg-5"></div>
			<div class="text-center col-sm-4 col-lg-3">
				<div class="row">
					<div class="col-12" th:text="|#{help_planet_defense_costs_per_defense}:|"></div>
					<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{money},value='10',icon='fa fa-coins'"></div>
					<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{mineral2},value='1 KT',icon='fa fa-square-full'"></div>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="upgrade-hull">
		<div th:utext="#{help_starbase_hull_intro}"></div>
		<div th:utext="#{help_starbase_upgrade_info}"></div>
		<div class="row mt-3 no-gutters">
			<div class="col-sm-6">
				<div class="row no-gutters">
					<div class="col-6" th:text="|#{level} 1:|"></div>
					<div class="col-6" th:text="|100 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 2:|"></div>
					<div class="col-6" th:text="|200 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 3:|"></div>
					<div class="col-6" th:text="|300 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 4:|"></div>
					<div class="col-6" th:text="|800 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 5:|"></div>
					<div class="col-6" th:text="|1000 #{money}|"></div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row no-gutters">
					<div class="col-6" th:text="|#{level} 6:|"></div>
					<div class="col-6" th:text="|1200 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 7:|"></div>
					<div class="col-6" th:text="|2500 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 8:|"></div>
					<div class="col-6" th:text="|5000 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 9:|"></div>
					<div class="col-6" th:text="|7500 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 10:|"></div>
					<div class="col-6" th:text="|10000 #{money}|"></div>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="upgrade-propulsion">
		<div th:utext="#{help_starbase_propulsion_intro}"></div>
		<div th:utext="#{help_starbase_upgrade_info}"></div>
		<div class="row mt-3 no-gutters">
			<div class="col-sm-6">
				<div class="row no-gutters">
					<div class="col-6" th:text="|#{level} 1:|"></div>
					<div class="col-6" th:text="|100 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 2:|"></div>
					<div class="col-6" th:text="|200 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 3:|"></div>
					<div class="col-6" th:text="|300 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 4:|"></div>
					<div class="col-6" th:text="|400 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 5:|"></div>
					<div class="col-6" th:text="|500 #{money}|"></div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row no-gutters">
					<div class="col-6" th:text="|#{level} 6:|"></div>
					<div class="col-6" th:text="|600 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 7:|"></div>
					<div class="col-6" th:text="|700 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 8:|"></div>
					<div class="col-6" th:text="|4000 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 9:|"></div>
					<div class="col-6" th:text="|7000 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 10:|"></div>
					<div class="col-6" th:text="|10000 #{money}|"></div>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="upgrade-energy">
		<div th:utext="#{help_starbase_energy_intro}"></div>
		<div th:utext="#{help_starbase_upgrade_info}"></div>
		<div class="row mt-3 no-gutters">
			<div class="col-sm-6">
				<div class="row no-gutters">
					<div class="col-6" th:text="|#{level} 1:|"></div>
					<div class="col-6" th:text="|100 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 2:|"></div>
					<div class="col-6" th:text="|400 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 3:|"></div>
					<div class="col-6" th:text="|900 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 4:|"></div>
					<div class="col-6" th:text="|1600 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 5:|"></div>
					<div class="col-6" th:text="|2500 #{money}|"></div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row no-gutters">
					<div class="col-6" th:text="|#{level} 6:|"></div>
					<div class="col-6" th:text="|3600 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 7:|"></div>
					<div class="col-6" th:text="|4900 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 8:|"></div>
					<div class="col-6" th:text="|6400 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 9:|"></div>
					<div class="col-6" th:text="|8100 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 10:|"></div>
					<div class="col-6" th:text="|10000 #{money}|"></div>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="upgrade-projectiles">
		<div th:utext="#{help_starbase_projectiles_intro}"></div>
		<div th:utext="#{help_starbase_upgrade_info}"></div>
		<div class="row mt-3 no-gutters">
			<div class="col-sm-6">
				<div class="row no-gutters">
					<div class="col-6" th:text="|#{level} 1:|"></div>
					<div class="col-6" th:text="|100 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 2:|"></div>
					<div class="col-6" th:text="|400 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 3:|"></div>
					<div class="col-6" th:text="|900 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 4:|"></div>
					<div class="col-6" th:text="|1600 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 5:|"></div>
					<div class="col-6" th:text="|2500 #{money}|"></div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row no-gutters">
					<div class="col-6" th:text="|#{level} 6:|"></div>
					<div class="col-6" th:text="|3600 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 7:|"></div>
					<div class="col-6" th:text="|4900 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 8:|"></div>
					<div class="col-6" th:text="|6400 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 9:|"></div>
					<div class="col-6" th:text="|8100 #{money}|"></div>
					<div class="col-6" th:text="|#{level} 10:|"></div>
					<div class="col-6" th:text="|10000 #{money}|"></div>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="production-weapon-systems">
		<div th:utext="#{help_starbase_weapon_production_intro}"></div>
		<div class="mt-3 mb-3" th:if="${data.get(0).type.name().equals('PROJECTILE')}" th:text="#{help_starbase_weapon_production_projectile_accuracy}"></div>
		<div class="row">
			<div class="col-4">
				<h5 class="mt-3" th:text="${data.get(0).type.name().equals('PROJECTILE')} ? #{projectile_weapons} : #{energy_weapons}"></h5>
			</div>
			<div class="col-4 text-center">
				<div class="row">
					<div class="col-12" th:text="#{help_starbase_weapon_production_standard_mode}">Damage standard mode</div>
					<div class="col-6" th:text="#{help_starbase_weapon_production_hull}">Hull</div>
					<div class="col-6" th:text="#{help_starbase_weapon_production_crew}">Crew</div>
				</div>
			</div>
			<div class="col-4 text-center">
				<div class="row">
					<div class="col-12" th:text="#{help_starbase_weapon_production_capture_mode}">Damage capture mode</div>
					<div class="col-6" th:text="#{help_starbase_weapon_production_hull}">Hull</div>
					<div class="col-6" th:text="#{help_starbase_weapon_production_crew}">Crew</div>
				</div>
			</div>
		</div>
		<div class="row" th:each="entry : ${data}">
			<div class="col-4" th:text="#{${entry.name}}">Laser</div>
			<div class="col-2 text-center" th:text="${entry.standardDamage}">1</div>
			<div class="col-2 text-center" th:text="${entry.standardCrewDamage}">2</div>
			<div class="col-2 text-center" th:text="${entry.captureDamage}">3</div>
			<div class="col-2 text-center" th:text="${entry.captureCrewDamage}">4</div>
		</div>
	</div>

	<div th:fragment="space-folds">
		<div th:utext="#{help_starbase_spacefolds_intro}"></div>
		<div class="mt-3 mb-3">
			<table class="m-0 m-auto">
				<tbody>
					<tr>
						<td>
							<div th:include="ingame/icon-label::content" th:with="value='1',icon='fa fa-coins'"></div>
						</td>
						<td>
							<b>:</b>
						</td>
						<td>
							<div th:include="ingame/icon-label::content" th:with="value='0',icon='fa fa-coins'"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div th:include="ingame/icon-label::content" th:with="value='1 KT',icon='fa fa-circle'"></div>
						</td>
						<td>
							<b>:</b>
						</td>
						<td>
							<div th:include="ingame/icon-label::content" th:with="value='8',icon='fa fa-coins'"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div th:include="ingame/icon-label::content" th:with="value='1 KT',icon='fa fa-cube'"></div>
						</td>
						<td>
							<b>:</b>
						</td>
						<td>
							<div th:include="ingame/icon-label::content" th:with="value='8',icon='fa fa-coins'"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div th:include="ingame/icon-label::content" th:with="value='1 KT',icon='fa fa-certificate'"></div>
						</td>
						<td>
							<b>:</b>
						</td>
						<td>
							<div th:include="ingame/icon-label::content" th:with="value='8',icon='fa fa-coins'"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div th:include="ingame/icon-label::content" th:with="value='1 KT',icon='fa fa-square-full'"></div>
						</td>
						<td>
							<b>:</b>
						</td>
						<td>
							<div th:include="ingame/icon-label::content" th:with="value='8',icon='fa fa-coins'"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div th:include="ingame/icon-label::content" th:with="value='1 KT',icon='fa fa-play'"></div>
						</td>
						<td>
							<b>:</b>
						</td>
						<td>
							<div th:include="ingame/icon-label::content" th:with="value='8',icon='fa fa-coins'"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:utext="#{help_starbase_spacefolds_init_costs}"></div>
	</div>
</body>