<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="|${game.name} - #{application_name}|"></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta charset="UTF-8" />

		<link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" href="../css/fontawesome-all.min.css" th:href="@{/css/fontawesome-all.min.css}" />
		<link rel="stylesheet" href="../css/skrupel_tng.css" th:href="@{/css/skrupel_tng.css}" />

		<link rel="stylesheet" href="../css/modules/ingame/ingame.css" th:href="@{/css/modules/ingame/ingame.css}" />
		<link rel="stylesheet" href="../css/modules/ingame/ingame_selection_animation.css" th:href="@{/css/modules/ingame/ingame_selection_animation.css}" />

		<script type="text/javascript" src="../js/jquery.js" th:src="@{/js/jquery.js}"></script>
		<script type="text/javascript" src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

		<script type="text/javascript" src="../js/browser_warning.js" th:src="@{/js/browser_warning.js}"></script>
		<script type="text/javascript" src="../js/help_modal.js" th:src="@{/js/help_modal.js}"></script>

		<script type="module" src="../js/skrupel_tng.js" th:src="@{/js/skrupel_tng.js}"></script>
		<script type="module" src="../js/modules/ingame/overview-table.js" th:src="@{/js/modules/ingame/overview-table.js}"></script>
		<script type="module" src="../js/modules/ingame/ingame.js" th:src="@{/js/modules/ingame/ingame.js}"></script>
	</head>
	<body>
		<div th:if="${!game.finished}">
			<input type="hidden" id="skr-ingame-overview-viewed" th:value="${overviewViewed}" />
			<input type="hidden" id="skr-ingame-tutorial-stage" th:value="${tutorial.stage != null} ? ${tutorial.stage.name()} : null" th:if="${tutorial != null}" />
			<input type="hidden" id="skr-ingame-tutorial-active" th:value="${tutorial != null}" />
			<input type="hidden" id="skr-ingame-tutorial-max-reached-stage" th:value="${tutorial.maxReachedStage.name()}" th:if="${tutorial != null && tutorial.maxReachedStage != null}" />
			<input type="hidden" id="skr-ingame-init-x" th:value="${initX}" />
			<input type="hidden" id="skr-ingame-init-y" th:value="${initY}" />

			<nav class="navbar navbar-fixed-top navbar-expand-md" id="header">
				<div class="btn-group">
					<a class="navbar-brand" th:title="#{back_to_dashboard}" id="skr-ingame-to-dashboard" href="/my-games?page=0&sortField=EXISTING_GAMES_CREATED&sortDirection=false">
						<img src="/images/landingpage/logo.png" />
						<span>Skrupel TNG</span>
					</a>
					<button th:if="${!turnInfos.isEmpty()}" type="button" id="skr-ingame-turn-infos-menu-toggle" class="btn btn-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span th:if=" ${unfinishedTurns > 0}" class="badge badge-info" th:text="${unfinishedTurns}">2 </span>
					</button>
					<div class="dropdown-menu" th:if="${!turnInfos.isEmpty()}">
						<a th:class="|dropdown-item ${turnInfo.turnFinished ? 'disabled' : 'text-info'}|" th:href="|/ingame/game?id=${turnInfo.gameId}|" th:each="turnInfo : ${turnInfos}" th:text="${turnInfo.gameName}">GameName</a>
					</div>
				</div>
				<div class="d-md-none" id="skr-dashboard-notifications-wrapper-small" th:include="dashboard/layout::notifications"></div>

				<button class="navbar-toggler" id="skr-ingame-navbar-toggle-button" type="button" data-toggle="collapse" data-target="#skr-ingame-nav-bar" aria-controls="skr-ingame-nav-bar" aria-expanded="false" aria-label="Toggle navigation">
					<i class="navbar-toggler-icon fa fa-bars"></i>
				</button>

				<div class="navbar-collapse collapse dual-collapse2" id="skr-ingame-nav-bar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a href="#" onclick="ingame.showOverview()" id="skr-ingame-overview-button" class="navbar-item">
								<i class="fa-fw fas fa-tablet-alt"></i>
								<span th:text="#{overview}">Overview</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#" onclick="ingame.openModal('colony-overview')" id="skr-ingame-planets-button" class="navbar-item">
								<i class="fa-fw fas fa-globe"></i>
								<span th:text="#{colonies}">Colonies</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#" onclick="ingame.openModal('starbase-overview')" id="skr-ingame-starbases-button" class="navbar-item">
								<i class="fa-fw fas fa-project-diagram"></i>
								<span th:text="#{starbases}">Starbases</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#" onclick="ingame.openModal('ship-overview')" id="skr-ingame-ships-button" class="navbar-item">
								<i class="fa-fw fas fa-space-shuttle"></i>
								<span th:text="#{ships}">Ships</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#" onclick="ingame.openModal('fleet-overview')" id="skr-ingame-fleets-button" class="navbar-item">
								<i class="fa-fw fas fa-grip-vertical"></i>
								<span th:text="#{fleets}">Fleets</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="/infos" target="_blank" id="skr-ingame-infos-button" class="navbar-item">
								<i class="fa-fw fas fa-info-circle"></i>
								<span th:text="#{infos}">Infos</span>
							</a>
						</li>
					</ul>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item d-none d-sm-none d-md-none d-md-block" th:if="${@dashboardLayoutService.isLoggedIn()}" id="skr-dashboard-notifications-wrapper-big" th:include="dashboard/layout::notifications"></li>
						<li class="nav-item">
							<div class="dropdown">
								<button
									class="btn btn-secondary dropdown-toggle tutorial-element-stage-ROUND_ONE tutorial-element-stage-ROUND_TWO tutorial-element-stage-ROUND_THREE tutorial-element-stage-ROUND_FOUR"
									type="button"
									id="skr-dashboard-user-menu-button"
									data-toggle="dropdown"
									aria-haspopup="true"
									aria-expanded="false"
								>
									<i class="fas fa-user"></i>
								</button>
								<div class="dropdown-menu" id="skr-dashboard-user-dropdown-menu" aria-labelledby="skr-dashboard-user-menu-button">
									<a
										class="dropdown-item tutorial-click-element-stage-ROUND_ONE tutorial-click-element-stage-ROUND_TWO tutorial-click-element-stage-ROUND_THREE tutorial-click-element-stage-ROUND_FOUR"
										href="#"
										onclick="ingame.finishTurn()"
										th:if="${!turnFinished}"
										id="skr-ingame-end-turn-button"
									>
										<i class="fa-fw fa fa-check"></i>
										<span th:text="#{finish_turn}">Finish turn</span>
									</a>
									<a class="dropdown-item disabled" href="#" th:style="${!turnFinished} ? 'display: none;' : ''" id="skr-ingame-turn-finished-button">
										<i class="fa-fw fa fa-check-double"></i>
										<span th:text="#{turn_finished}">Turn finished</span>
									</a>
									<a class="dropdown-item" href="/user-settings">
										<i class="fa-fw fa fa-user"></i>
										<span th:text="#{account}">Account</span>
									</a>
									<a class="dropdown-item" href="/user-statistics">
										<i class="fa-fw fas fa-list-ol"></i>
										<span th:text="#{statistics}">Statistics</span>
									</a>
									<a class="dropdown-item" href="/achievements">
										<i class="fa-fw fas fa-trophy"></i>
										<span th:text="#{achievements}">Achievements</span>
									</a>
									<a class="dropdown-item" href="javascript:tutorial.restart()" th:if="${@dashboardLayoutService.isLoggedIn() && @tutorialService.hasTutorial() && game.tutorial == true}">
										<i class="fa-fw fa fa-graduation-cap"></i>
										<span th:text="#{restart_tutorial}">Restart tutorial</span>
									</a>
									<a class="dropdown-item" href="/logout" id="skr-ingame-logout-button">
										<i class="fa-fw fa fa-power-off"></i>
										<span th:text="#{logout}">Logout</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<section class="section">
				<div th:replace="dashboard/browser-warning::content"></div>
				<div id="skr-ingame-overview-modal-wrapper"></div>

				<div class="modal" id="skr-ingame-colony-overview-modal" tabindex="-1" role="dialog"></div>
				<div class="modal" id="skr-ingame-starbase-overview-modal" tabindex="-1" role="dialog"></div>
				<div class="modal" id="skr-ingame-ship-overview-modal" tabindex="-1" role="dialog"></div>
				<div class="modal" id="skr-ingame-fleet-overview-modal" tabindex="-1" role="dialog"></div>

				<div id="skr-ingame-round-calculation-modal-wrapper">
					<div class="modal" id="skr-ingame-round-calculation-modal" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content" id="skr-ingame-round-calculation-modal-content">
								<div class="modal-header">
									<div class="text-center" style="width: 100%;" th:text="#{calculationg_round}">Calculating round</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="skr-ingame-error-modal-wrapper">
					<div class="modal" id="skr-ingame-error-modal" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h3>An unknown error occured:</h3>
								</div>
								<div class="modal-body">
									<input type="text" disabled class="form-control text-center" id="skr-ingame-error-modal-error" />
									<textarea class="form-control" id="skr-ingame-error-modal-message" cols="30" rows="10"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="skr-ingame-send-message-modal-wrapper">
					<div class="modal" id="skr-ingame-send-message-modal" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h3>
										<span th:text="|#{send_message_to}: |">Send message to:</span>
										<span id="skr-ingame-send-message-modal-player-name-title"></span>
									</h3>
									<input type="hidden" id="skr-ingame-send-message-recipient-id-input" />
								</div>
								<div class="modal-body">
									<textarea class="form-control" id="skr-ingame-send-message-modal-message-input" cols="30" rows="10"></textarea>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" th:text="#{cancel}" data-dismiss="modal">Cancel</button>
									<button type="button" class="btn btn-success" th:text="#{send}" onclick="ingame.sendMessage()">Send</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="skr-ingame-tutorial-start-modal-wrapper">
					<div class="modal" id="skr-ingame-tutorial-start-modal" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-sm" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h3 th:text="#{tutorial}">Tutorial</h3>
								</div>
								<div class="modal-body">
									<div th:text="#{tutorial_welcome_text}">Welcome text</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" id="skr-ingame-start-tutorial-modal-button" th:text="#{continue}" data-dismiss="modal">Continue</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="skr-ingame-tutorial-end-modal-wrapper">
					<div class="modal" id="skr-ingame-tutorial-end-modal" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-sm" role="document">
							<div class="modal-content">
								<div class="modal-body">
									<div th:text="#{tutorial_end_text}">End text</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-success" id="skr-ingame-tutorial-finish-tutorial-button" th:text="#{finish_tutorial}" onclick="tutorial.finish()">Finish tutorial</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="skr-ingame-delete-fleet-modal-wrapper">
					<div class="modal" id="skr-ingame-delete-fleet-modal" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<div class="text-center" style="width: 100%;" th:text="#{really_delete_fleet}">Do you really want to delete this fleet?</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel}">Cancel</button>
									<button type="button" class="btn btn-danger" data-dismiss="modal" id="skr-fleet-confirm-delete-button" onclick="fleetOptions.deleteFleet()" th:text="#{yes}">Yes</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="skr-ingame-colonist-warning-modal-wrapper">
					<div class="modal" id="skr-ingame-colonist-warning-modal" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<div class="text-center" style="width: 100%;" th:text="#{really_remove_colonists}">You are about to remove all colonists from your own colony. This would mean the loss of this colony. Are you sure you want to continue?</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel}">Cancel</button>
									<button type="button" class="btn btn-danger" data-dismiss="modal" id="skr-colonist-warning-confirm-button" onclick="fleetDetails.deleteFleet()" th:text="#{yes}">Yes</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<input type="hidden" id="skr-game-playercolor" th:value="${playerColor}" />

				<div id="skr-game-galaxy-wrapper" th:include="ingame/galaxymap/galaxy-map::content"></div>

				<div id="skr-game-selection-wrapper">
					<button type="button" id="skr-ingame-expand-details-button" class="btn btn-secondary font-weight-bold w-100">
						<i class="fa-fw fa fa-angle-up"></i>
						<span id="expand" th:text="#{expand}">Expand</span>
						<span id="collapse" style="display: none;" th:text="#{collapse}">Collapse</span>
					</button>
					<div id="skr-game-selection"></div>
				</div>
			</section>
		</div>
	</body>
</html>
