<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" class="modal-dialog modal-xl" role="document">
			<div class="modal-content small">
				<div class="modal-header">
					<h3 th:text="#{ships}">Ships</h3>
					<button type="button" class="close" id="skr-close-overview-button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row pt-1 mb-2">
						<div class="col-sm-10 col-md-9">
							<div class="row skr-table-search">
								<div class="col-sm-6 col-lg-3">
									<input type="text" class="form-control" id="name" th:placeholder="#{name}" />
								</div>
								<div class="col-sm-6 col-lg-3">
									<select class="custom-select" id="templateId">
										<option th:text="|-- #{class} --|" th:value="''"></option>
										<option th:each="template : ${shipTemplates}" th:text="${@masterDataService.getShipTemplateName(template)}" th:value="${template.id}">ShipTemplateName</option>
									</select>
								</div>
								<div class="col-sm-6 col-lg-3">
									<input type="text" class="form-control" id="fleetName" th:placeholder="#{fleet}" />
								</div>
								<div class="col-sm-6 col-lg-3">
									<select class="custom-select" id="idle">
										<option th:text="|-- #{idle} --|" th:value="''"></option>
										<option th:text="#{yes}" value="true">Yes</option>
										<option th:text="#{no}" value="false">No</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-sm-2 col-md-3 text-right">
							<button type="button" class="btn btn-primary fas fa-search" th:title="#{search}"></button>
							<button type="button" class="btn btn-danger fas fa-minus-circle" th:title="#{reset}"></button>
						</div>
					</div>

					<div class="skr-table container">
						<div class="row skr-table-header d-none d-lg-flex">
							<div class="col-8">
								<div class="row">
									<div class="col-3">
										<a href="#" id="SHIP_OVERVIEW_NAME">
											<span th:text="#{name}"></span>
											<i id="icon-SHIP_OVERVIEW_NAME"></i>
										</a>
									</div>
									<div class="col-3 text-right">
										<a href="#" id="SHIP_OVERVIEW_TEMPLATE_NAME">
											<span th:text="#{class}"></span>
											<i id="icon-SHIP_OVERVIEW_TEMPLATE_NAME"></i>
										</a>
									</div>
									<div class="col-3 text-right">
										<label class="font-weight-bold" th:text="#{task}"></label>
									</div>
									<div class="col-3 text-right">
										<a href="#" id="SHIP_OVERVIEW_FLEET">
											<span th:text="#{fleet}"></span>
											<i id="icon-SHIP_OVERVIEW_FLEET"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="row">
									<div class="col-3 text-right">
										<a href="#" id="SHIP_OVERVIEW_FUEL_PERCENTAGE">
											<i class="fa-fw fas fa-circle" th:title="#{fuel}"></i>
											<i id="icon-SHIP_OVERVIEW_FUEL_PERCENTAGE"></i>
										</a>
									</div>
									<div class="col-3 text-right">
										<a href="#" id="SHIP_OVERVIEW_CARGO_PERCENTAGE">
											<i class="fa-fw fas fa-cube" th:title="#{storage}"></i>
											<i id="icon-SHIP_OVERVIEW_CARGO_PERCENTAGE"></i>
										</a>
									</div>
									<div class="col-3 text-right">
										<a href="#" id="SHIP_OVERVIEW_CREW_PERCENTAGE">
											<span th:text="#{crew}"></span>
											<i id="icon-SHIP_OVERVIEW_CREW_PERCENTAGE"></i>
										</a>
									</div>
									<div class="col-3 text-right">
										<a href="#" id="SHIP_OVERVIEW_DAMAGE">
											<span th:text="#{damage}"></span>
											<i id="icon-SHIP_OVERVIEW_DAMAGE"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div th:fragment="table-content" id="skr-ingame-ship-overview-table-content">
							<div class="row" th:if="${ships.getTotalPages() == 0}">
								<h6 class="col-12 text-center mt-2" th:text="#{no_results}">No results</h6>
							</div>
							<div class="row skr-table-row cursor-pointer" th:each="ship : ${ships}" th:id="${ship.id}">
								<div class="col-lg-8">
									<div class="row" th:id="${ship.id}">
										<div class="col-6 col-sm-3 d-lg-none" th:text="|#{name}:|"></div>
										<div class="col-lg-3 d-none d-lg-flex" th:text="${ship.name}">Ship name</div>
										<div class="col-6 col-sm-3 d-lg-none text-right" th:text="${ship.name}">Ship name</div>
										<div class="col-6 col-sm-3 d-lg-none" th:text="|#{class}:|"></div>
										<div class="col-6 col-sm-3 text-right" th:text="${ship.templateName}">Template name</div>
										<div class="col-6 col-sm-3 d-lg-none" th:text="|#{task}:|"></div>
										<div class="col-6 col-sm-3 text-right" th:text="#{${ship.retrieveTaskString()}}">Planet bombardement</div>
										<div class="col-6 col-sm-3 d-lg-none" th:text="|#{fleet}:|"></div>
										<div class="col-6 col-sm-3 text-right" th:text="${ship.fleet}">Fleet name</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="row" th:id="${ship.id}">
										<div class="col-6 col-sm-3 d-lg-none" th:text="|#{fuel}:|"></div>
										<div class="col-6 col-sm-3 text-right" th:text="|${ship.fuelPercentage}%|">50%</div>
										<div class="col-6 col-sm-3 d-lg-none" th:text="|#{storage}:|"></div>
										<div class="col-6 col-sm-3 text-right" th:text="|${ship.cargoPercentage}%|">20%</div>
										<div class="col-6 col-sm-3 d-lg-none" th:text="|#{crew}:|"></div>
										<div class="col-6 col-sm-3 text-right" th:text="|${ship.crewPercentage}%|">100%</div>
										<div class="col-6 col-sm-3 d-lg-none" th:text="|#{damage}:|"></div>
										<div class="col-6 col-sm-3 text-right" th:text="|${ship.damage}%|">0%</div>
									</div>
								</div>
							</div>

							<nav th:if="${ships.getTotalPages() > 0}">
								<input type="hidden" id="ship-overview-pagination-max-page" th:value="${ships.getTotalPages()}" />

								<ul class="pagination justify-content-center">
									<li class="page-item pagination-prev">
										<a class="page-link" href="#">
											<span aria-hidden="true">&laquo;</span>
										</a>
									</li>
									<li th:class="|page-item ${ships.getPageable().getPageNumber() == page -1 ? 'active' : ''}|" th:each="page : ${#numbers.sequence(1, ships.getTotalPages())}">
										<a class="page-link pagination-number" href="#" th:text="${page}">1</a>
									</li>
									<li class="page-item pagination-next">
										<a class="page-link" href="#" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
