<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" class="skr-ingame-list-panel-wrapper">
			<input type="hidden" id="skr-ingame-current-x" th:value="${x}" />
			<input type="hidden" id="skr-ingame-current-y" th:value="${y}" />

			<div class="skr-ingame-list-panel">
				<table>
					<tbody>
						<tr>
							<td th:each="ship : ${ships}">
								<div class="card skr-ingame-selection-item">
									<div class="card-body" th:onclick="|ingame.select('ship', ${ship.id})|">
										<div th:text="${ship.name}">Shipname</div>
										<div class="small" th:text="#{${ship.retrieveTaskString()}}">Task</div>
										<table>
											<tbody>
												<tr class="skr-ingame-selection-bars">
													<td>
														<img th:src="${ship.createFullImagePath()}" />
													</td>
													<td valign="bottom" class="selection-bar" th:title="|#{damage}: ${ship.damage} / 100|">
														<div class="damage" th:style="|height:${ship.retrieveDamageInfoHeight()}px|"></div>
													</td>
													<td valign="bottom" class="selection-bar" th:title="|#{fuel}: ${ship.fuel} / ${ship.shipTemplate.fuelCapacity}|">
														<div class="fuel" th:style="|height:${ship.retrieveFuelInfoHeight()}px|"></div>
													</td>
													<td valign="bottom" class="selection-bar" th:title="|#{storage}: ${ship.retrieveTotalGoods()} / ${ship.retrieveStorageSpace()}|">
														<div class="cargo" th:style="|height:${ship.retrieveCargoInfoHeight()}px|"></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
