<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="ship-routes">
			<div th:class="|skr-game-ship-route-wrapper-${route.id}|" th:each="route : ${ship.route}"></div>
			<input type="hidden" class="skr-game-ship-route-entry" th:each="route : ${ship.route}" th:id="|skr-game-ship-route-${route.id}|" th:value="|${route.planet.x}_${route.planet.y}|" />
		</div>

		<div th:fragment="content">
			<div id="skr-game-galaxy" th:style="${@galaxyHelper.getGalaxySizeStyle(game.galaxySize)}">
				<div id="skr-ingame-selection-ping-wrapper">
					<div id="skr-ingame-selection-ping"></div>
				</div>

				<img th:each="coord : ${visibilityCoordinates}" class="skr-ingame-visibility-background" th:style="${@galaxyHelper.getCoordinatesStyle(coord.x, coord.y, -125)}" th:src="|/images/space/${random.nextInt(10)}.gif|" />

				<div th:each="sector : ${sectors}" class="skr-ingame-section-label" th:style="${sector.createLabelStyle()}" th:text="${sector.label}">A1</div>
				<div th:each="sector : ${sectors}" class="skr-ingame-section-line" th:style="${sector.createLineStyle()}"></div>

				<div th:each="ship : ${singleShips}" th:style="${@galaxyHelper.getCoordinatesStyle(ship.x, ship.y)}" th:attr="shipid=${ship.id}" th:id="${'skr-ingame-shipicon-' + ship.id}" class="skr-game-ship-mouse skr-game-ship-mouse-space">
					<div
						th:class="|ship-in-space tutorial-element-stage-OPEN_BOMBER_IN_SPACE tutorial-click-element-stage-OPEN_BOMBER_IN_SPACE${ship.player.id == playerId ? ' owned-ship': ''}|"
						th:style="|border-color: #${ship.retrieveColor(playerId)}; background-color: #${ship.retrieveColor(playerId)}; ${ship.retrieveGalaxyMapSizeStyle()}|"
						th:data1="${ship.retrievePlayer(playerId, colorToPlayerMap).login.username}"
						th:onclick="${ship.player.id == playerId || disablePermissionChecks} 
						? |ingame.select('ship', ${ship.id})| 
						: (${ship.player.aiLevel == null} ? |ingame.messageToPlayer(${ship.retrievePlayer(playerId, colorToPlayerMap).id}, this.getAttribute('data1'))| : '')"
						th:name="${ship.name}"
					></div>
					<div class="skr-game-details-mouseover container" th:if="${ship.player.id == playerId || disablePermissionChecks}" th:id="${'skr-ingame-ship-details-' + ship.id}">
						<div th:include="ingame/galaxymap/ship-mouseover::content" th:with="ship=${ship}"></div>
					</div>
					<div class="skr-game-details-mouseover container" th:if="${ship.retrieveRelationType(playerId, relations, colorToPlayerMap)}" th:id="${'skr-ingame-ship-details-' + ship.id}">
						<div th:include="ingame/galaxymap/ship-mouseover-relation::content" th:with="icon=${ship.retrieveRelationType(playerId, relations, colorToPlayerMap).getIcon()}"></div>
					</div>
				</div>

				<div th:each="cluster : ${shipClusters}" th:style="${@galaxyHelper.getCoordinatesStyle(cluster.x, cluster.y)}" th:attr="coordId=${cluster.x + '_' + cluster.y}" class="ship skr-game-ship-cluster-mouse">
					<div
						th:class="'ship-in-space' + (${cluster.ships.get(0).player.id == playerId} ? ' owned-ship': '')"
						th:name="${cluster.ships.get(0).name}"
						th:data1="${cluster.ships.get(0).retrievePlayer(playerId, colorToPlayerMap).login.username}"
						th:onclick="${cluster.ships.get(0).player.id == playerId || disablePermissionChecks} 
					? |ingame.showShipSelection(${cluster.x}, ${cluster.y})| 
					: (${cluster.ships.get(0).player.aiLevel == null} ? |ingame.messageToPlayer(${cluster.ships.get(0).retrievePlayer(playerId, colorToPlayerMap).id}, this.getAttribute('data1'))| : '')"
						th:style="|border-color: #${cluster.ships.get(0).retrieveColor(playerId)}; background-color: #${cluster.ships.get(0).retrieveColor(playerId)}; ${cluster.retrieveGalaxyMapSizeStyle()}|"
					></div>
					<div class="skr-game-details-mouseover container" th:if="${cluster.ships.get(0).player.id == playerId || disablePermissionChecks}" th:id="${'skr-ingame-ships-details-' + cluster.x + '_' + cluster.y}">
						<div th:include="ingame/galaxymap/ships-mouseover::content" th:with="ships=${cluster.ships}"></div>
					</div>
					<div class="skr-game-details-mouseover container" th:if="${cluster.ships.get(0).retrieveRelationType(playerId, relations, colorToPlayerMap)}" th:id="${'skr-ingame-ships-details-' + cluster.x + '_' + cluster.y}">
						<div th:include="ingame/galaxymap/ship-mouseover-relation::content" th:with="icon=${cluster.ships.get(0).retrieveRelationType(playerId, relations, colorToPlayerMap).getIcon()}"></div>
					</div>
				</div>

				<div th:each="ship : ${singleShips}" class="skr-ingame-ship-scan-circle" th:style="${@galaxyHelper.getCoordinatesStyle(ship.x, ship.y)}">
					<div class="skr-ingame-scan-circle-inner" th:style="${ship.retrieveScannerRadiusStyle()}"></div>
				</div>

				<div th:each="cluster : ${shipClusters}" class="skr-ingame-ship-scan-circle" th:style="${@galaxyHelper.getCoordinatesStyle(cluster.x, cluster.y)}">
					<div class="skr-ingame-scan-circle-inner" th:style="${cluster.retrieveScannerRadiusStyle()}"></div>
				</div>

				<div th:each="planet : ${planets}" class="skr-ingame-planet-scan-circle" th:if="${planet.playerId != null && planet.visibleByLongRangeScanners}" th:style="${@galaxyHelper.getCoordinatesStyle(planet.x, planet.y)}">
					<div class="skr-ingame-scan-circle-inner" th:style="${planet.retrieveScannerRadiusStyle()}"></div>
				</div>

				<div th:each="ship : ${ships}" class="skr-game-ship" th:id="${'skr-game-ship-' + ship.id}">
					<input type="hidden" th:value="${ship.retrieveLastX()}" th:id="${'skr-game-ship-lastx-' + ship.id}" />
					<input type="hidden" th:value="${ship.retrieveLastY()}" th:id="${'skr-game-ship-lasty-' + ship.id}" />
					<input type="hidden" th:value="${ship.x}" th:id="${'skr-game-ship-x-' + ship.id}" />
					<input type="hidden" th:value="${ship.y}" th:id="${'skr-game-ship-y-' + ship.id}" />
					<input type="hidden" th:if="${ship.player.id == playerId || disablePermissionChecks}" th:value="${ship.destinationX}" th:id="${'skr-game-ship-destinationx-' + ship.id}" />
					<input type="hidden" th:if="${ship.player.id == playerId || disablePermissionChecks}" th:value="${ship.destinationY}" th:id="${'skr-game-ship-destinationy-' + ship.id}" />
					<div class="skr-game-ship-travel-line-wrapper"></div>
					<div class="skr-game-ship-destination-marker-wrapper"></div>
					<div class="skr-game-ship-origin-line-wrapper"></div>
					<div th:if="${ship.player.id == playerId || disablePermissionChecks}" th:id="|skr-game-ship-route-container-${ship.id}|" th:include="::ship-routes" th:with="ship=${ship}"></div>
				</div>

				<div th:each="wormHole : ${wormHoles}" class="skr-game-wormhole" th:style="${@galaxyHelper.getCoordinatesStyle(wormHole.x, wormHole.y)}">
					<img th:src="|/images/anomalies/${wormHole.type.name()}.gif|" th:style="${wormHole.retrieveGalaxyMapStyle()}" />
				</div>

				<div th:each="spaceFold : ${spaceFolds}" class="skr-game-spacefold" th:style="${@galaxyHelper.getCoordinatesStyle(spaceFold.x, spaceFold.y)}">
					<img th:src="|/images/anomalies/spaceFold.gif|" th:style="${spaceFold.retrieveGalaxyMapStyle()}" />
				</div>

				<div th:each="plasmaStorm : ${plasmaStorms}" class="skr-game-plasmastorm" th:style="${@galaxyHelper.getCoordinatesStyle(plasmaStorm.x, plasmaStorm.y)}">
					<img th:src="|/images/plasmastorms/${1 + random.nextInt(2)}.png|" />
				</div>

				<div th:each="mineField : ${mineFields}" class="skr-game-minefield" th:style="${mineField.retrieveGalaxyMapSizeStyle()}">
					<img th:src="|/images/minefields/${mineField.friendly ? 'friendly' : 'enemy'}.gif|" />
				</div>

				<div th:each="planet : ${planets}" th:style="${@galaxyHelper.getCoordinatesStyle(planet.x, planet.y)}" th:name="${planet.name}" class="skr-game-planet">
					<img th:src="|/images/planets/galaxy/${planet.type}.gif|" th:attr="planetid=${planet.id}" th:class="|skr-game-planet-mouse${planet.playerId == null ? @tutorialService.getPlanetStageClass(planet.id) : ''}|" data-placement="top" />
					<div
						th:style="${'border-color: #' + planet.playerColor + ';'}"
						th:attr="planetid=${planet.id}"
						th:id="${'skr-ingame-planet-' + planet.id}"
						th:onclick="|ingame.select('planet', ${planet.id})|"
						th:class="|owned colonized skr-game-planet-mouse${@tutorialService.getPlanetStageClass(planet.id)}|"
						data-placement="top"
						th:if="${(planet.playerId != null && planet.playerId == playerId) || disablePermissionChecks}"
					></div>
					<div
						th:style="${'border-color: #' + planet.playerColor + ';'}"
						th:attr="planetid=${planet.id}"
						data-placement="top"
						th:data1="${planet.playerId != null ? planet.playerName: ''}"
						th:id="${'skr-ingame-planet-' + planet.id}"
						th:onclick="${planet.playerAiLevel == null} ? |ingame.messageToPlayer(${planet.playerId}, this.getAttribute('data1'))| : ''"
						class="skr-game-planet-mouse colonized tutorial-element-stage-ENEMY_COLONY"
						th:if="${planet.playerId != null && planet.playerId != playerId && planet.visibleByLongRangeScanners && !disablePermissionChecks}"
					></div>

					<div
						th:style="${'border-color: #' + planet.playerColor + ';'}"
						th:attr="starbaseid=${planet.starbaseId}"
						th:id="${'skr-ingame-starbase-' + planet.starbaseId}"
						th:onclick="${planet.playerId == playerId || disablePermissionChecks} ? |ingame.select('starbase', ${planet.starbaseId})| : ''"
						class="starbase skr-game-starbase-mouse tutorial-element-stage-OPEN_STARBASE_SECOND tutorial-click-element-stage-OPEN_STARBASE_SECOND"
						th:if="${planet.starbaseId != null && planet.visibleByLongRangeScanners}"
					></div>

					<div
						th:style="${'border-color: #' + planet.ownShips.get(0).retrieveColor(playerId) + ';'}"
						th:id="${'skr-ingame-ship-' + planet.ownShips.get(0).id}"
						th:data1="${planet.ownShips.get(0).player.login.username}"
						th:onclick="|ingame.select('ship', ${planet.ownShips.get(0).id})|"
						th:attr="shipid=${planet.ownShips.get(0).id}"
						th:class="|ship skr-game-ship-mouse skr-game-ship-mouse-planet ${@tutorialService.getShipStageClass(planet.ownShips.get(0).shipTemplate.id)}|"
						data-placement="top"
						th:if="${planet.ownShips != null && planet.ownShips.size() == 1}"
						th:name="${planet.ownShips.get(0).name}"
					></div>
					<div
						th:style="${'border-color: #' + planet.ownShips.get(0).retrieveColor(playerId) + ';'}"
						th:attr="planetid=${planet.id}"
						th:data1="${planet.ownShips.get(0).player.login.username}"
						th:onclick="|ingame.showShipSelection(${planet.x}, ${planet.y})|"
						class="ship ships-around-planet skr-game-ships-mouse"
						th:if="${planet.ownShips != null && planet.ownShips.size() > 1}"
						th:name="${planet.retrieveOwnShipNames()}"
					></div>

					<div
						th:style="${'border-color: #' + planet.foreignShips.get(0).retrieveColor(playerId) + ';'}"
						th:id="${'skr-ingame-ship-' + planet.foreignShips.get(0).id}"
						th:data1="${planet.foreignShips.get(0).retrievePlayer(playerId, colorToPlayerMap).login.username}"
						th:onclick="${disablePermissionChecks} 
					? |ingame.select('ship', ${planet.foreignShips.get(0).id})| 
					: (${planet.foreignShips.get(0).player.aiLevel == null} ? |ingame.messageToPlayer(${planet.foreignShips.get(0).retrievePlayer(playerId, colorToPlayerMap).id}, this.getAttribute('data1'))| : '')"
						th:attr="shipid=${planet.foreignShips.get(0).id}"
						th:class="|ship skr-game-ship-mouse skr-game-ship-mouse-planet ${@tutorialService.getShipStageClass(planet.foreignShips.get(0).shipTemplate.id)}|"
						data-placement="top"
						th:if="${planet.foreignShips != null && planet.foreignShips.size() == 1}"
						th:name="${planet.retrieveForeignShipNames()}"
					></div>
					<div
						th:style="${'border-color: #' + planet.foreignShips.get(0).retrieveColor(playerId) + ';'}"
						th:attr="planetid=${planet.id}"
						th:data1="${planet.foreignShips.get(0).retrievePlayer(playerId, colorToPlayerMap).login.username}"
						th:onclick="${planet.foreignShips.get(0).player.id == playerId || disablePermissionChecks} 
					? |ingame.showShipSelection(${planet.x}, ${planet.y})| 
					: (${planet.foreignShips.get(0).player.aiLevel == null} ? |ingame.messageToPlayer(${planet.foreignShips.get(0).retrievePlayer(playerId, colorToPlayerMap).id}, this.getAttribute('data1'))| : '')"
						class="ship ships-around-planet skr-game-ships-mouse"
						th:if="${planet.foreignShips != null && planet.foreignShips.size() > 1}"
						th:name="${planet.retrieveForeignShipNames()}"
					></div>

					<div th:each="ship : ${planet.ownShips}" th:if="${planet.ownShips != null}" class="skr-ingame-ship-scan-circle">
						<div class="skr-ingame-scan-circle-inner" th:style="${ship.retrieveScannerRadiusStyle()}"></div>
					</div>

					<div th:each="ship : ${planet.foreignShips}" th:if="${planet.foreignShips != null}" class="skr-ingame-ship-scan-circle">
						<div class="skr-ingame-scan-circle-inner" th:style="${ship.retrieveScannerRadiusStyle()}"></div>
					</div>

					<div class="skr-game-details-mouseover container" th:id="${'skr-ingame-planet-details-' + planet.id}">
						<div th:include="ingame/galaxymap/planet-mouseover::content" th:with="planet=${planet},relations=${relations}"></div>
					</div>
					<div th:if="${planet.ownShips != null && planet.ownShips.size() == 1}" class="skr-game-details-mouseover container" th:id="${'skr-ingame-ship-details-' + planet.ownShips.get(0).id}">
						<div th:include="ingame/galaxymap/ship-mouseover::content" th:with="ship=${planet.ownShips.get(0)}"></div>
					</div>
					<div th:if="${planet.ownShips != null && planet.ownShips.size() > 1}" class="skr-game-details-mouseover container" th:id="${'skr-ingame-ships-details-' + planet.id}">
						<div th:include="ingame/galaxymap/ships-mouseover::content" th:with="ships=${planet.ownShips}"></div>
					</div>
					<div
						class="skr-game-details-mouseover container"
						th:if="${planet.foreignShips != null && planet.foreignShips.size() == 1 && planet.foreignShips.get(0).retrieveRelationType(playerId, relations, colorToPlayerMap) != null}"
						th:id="${'skr-ingame-ship-details-' + planet.foreignShips.get(0).id}"
					>
						<div th:include="ingame/galaxymap/ship-mouseover-relation::content" th:with="icon=${planet.foreignShips.get(0).retrieveRelationType(playerId, relations, colorToPlayerMap).getIcon()}"></div>
					</div>
					<div
						class="skr-game-details-mouseover container"
						th:if="${planet.foreignShips != null && planet.foreignShips.size() > 1 && planet.foreignShips.get(0).retrieveRelationType(playerId, relations, colorToPlayerMap) != null}"
						th:id="${'skr-ingame-ships-details-' + planet.id}"
					>
						<div th:include="ingame/galaxymap/ship-mouseover-relation::content" th:with="icon=${planet.foreignShips.get(0).retrieveRelationType(playerId, relations, colorToPlayerMap).getIcon()}"></div>
					</div>
					<div th:if="${planet.starbaseId != null && (planet.playerId == playerId || disablePermissionChecks)}" class="skr-game-details-mouseover container" th:id="${'skr-ingame-starbase-details-' + planet.starbaseId}">
						<div th:include="ingame/galaxymap/starbase-mouseover::content" th:with="starbaseName=${planet.starbaseName},starbaseLog=${planet.starbaseLog}"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
