<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="action">
			<select class="custom-select skr-ingame-route-action-select" th:id="|${type}-${id}|">
				<option th:each="action : ${actions}" th:selected="${action} == ${entryAction}" th:value="${action.name()}" th:text="${action.getDisplayText()}"></option>
			</select>
		</div>
		<div th:fragment="content" id="skr-ingame-route-content">
			<input type="hidden" id="skr-ingame-route-select-planet-message" th:value="#{select_route_planet_message}" />
			<div class="row">
				<div class="col-2 font-weight-bold">
					<span th:text="|#{add}:|">Add:</span>
				</div>
				<div class="col-4">
					<select class="custom-select" id="route-entry-planet-select-0">
						<option th:text="#{selection_prompt}">Select...</option>
						<option th:each="planet : ${planets}" th:value="${planet.id}" th:text="${planet.name}">Planet name</option>
					</select>
				</div>
				<div class="col-4">
					<button type="button" class="btn btn-secondary fas fa-plus" id="skr-ingame-route-add-take" onclick="route.add('TAKE')" th:title="#{add_route_entry_take}"></button>
					<button type="button" class="btn btn-secondary" onclick="route.add('IGNORE')" th:title="#{add_route_entry_ignore}">0</button>
					<button type="button" class="btn btn-secondary fas fa-minus" id="skr-ingame-route-add-leave" onclick="route.add('LEAVE')" th:title="#{add_route_entry_leave}"></button>
					<button type="button" class="btn btn-primary fas fa-hand-pointer" id="skr-route-select-by-map-button" onclick="route.selectByGalaxyMap()" th:title="#{select_by_map}"></button>
				</div>
			</div>
			<div class="row" th:if="${entries.size() == 0}">
				<div class="col-12">
					<span th:text="#{route_empty_message}"></span>
				</div>
			</div>
			<div class="row" th:if="${entries.size() == 1}">
				<div class="col-12">
					<span th:text="#{route_two_needed_message}"></span>
				</div>
			</div>
			<div class="row mt-2" th:if="${entries.size() > 1}">
				<div class="col-3">
					<span th:text="|#{speed}:|">Speed:</span>
				</div>
				<div class="col-3">
					<span th:text="|#{primary_resource}:|">Primary resource:</span>
				</div>
				<div class="col-3">
					<span th:text="|#{min_fuel}:|">Min. fuel:</span>
				</div>
				<div class="col-3">
					<span th:text="|#{deactivated}:|">Deactivated:</span>
				</div>
			</div>
			<div class="row mb-2" th:if="${entries.size() > 1}">
				<div class="col-3">
					<div th:include="ingame/ship/navigation::warp-speed-select" th:with="ship=${ship}"></div>
				</div>
				<div class="col-3">
					<select class="custom-select" id="skr-ingame-route-primary-resource-select">
						<option
							th:each="resource : ${resources}"
							th:selected="${resource.equals(ship.routePrimaryResource)}"
							th:if="${!resource.name().equals('MONEY') && !resource.name().equals('FUEL')}"
							th:value="${resource.name()}"
							th:text="#{${resource.name().toLowerCase()}}"
							>Supplies</option
						>
					</select>
				</div>
				<div class="col-3">
					<input type="number" class="form-control" id="skr-ingame-route-min-fuel-input" min="0" th:max="${ship.shipTemplate.fuelCapacity}" th:value="${ship.routeMinFuel}" />
					<span th:class="text-danger" id="skr-ingame-route-min-value-error-text" style="display: none;" th:text="#{invalid_value}">Invalid value</span>
				</div>
				<div class="col-3">
					<select class="custom-select" id="skr-ingame-route-disabled-select">
						<option th:text="#{yes}" th:selected="${ship.routeDisabled}" value="true">Yes</option>
						<option th:text="#{no}" th:selected="${!ship.routeDisabled}" value="false">No</option>
					</select>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-12">
					<table class="table">
						<thead>
							<tr>
								<th class="align-middle" scope="col" th:text="#{planet}">Planet</th>
								<th scope="col">
									<span th:include="ingame/help::content" th:with="id='ship-tasks',title=#{routing},fragment='simple',content=#{help_ship_routing}"></span>
								</th>
								<th scope="col" class="text-center">
									<i th:title="#{money}" class="fa-fw fa fa-coins"></i>
								</th>
								<th scope="col" class="text-center">
									<i th:title="#{supplies}" class="fa-fw fa fa-cube"></i>
								</th>
								<th scope="col" class="text-center">
									<i th:title="#{fuel}" class="fa-fw fas fa-circle"></i>
								</th>
								<th scope="col" class="text-center">
									<i th:title="#{mineral1}" class="fa-fw fas fa-certificate"></i>
								</th>
								<th scope="col" class="text-center">
									<i th:title="#{mineral2}" class="fa-fw fas fa-square-full"></i>
								</th>
								<th scope="col" class="text-center">
									<i th:title="#{mineral3}" class="fa-fw fas fa-play"></i>
								</th>
								<th scope="col" class="text-center">
									<i th:title="#{wait_for_full_storage}" class="fa-fw fas fa-battery-full"></i>
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="entry : ${entries}" class="skr-ingame-route-entry" th:fragment="entry">
								<td colspan="2">
									<select class="custom-select route-entry-planet-select" th:id="|route-entry-planet-select-${entry.id}|">
										<option th:text="#{selection_prompt}">Select...</option>
										<option th:each="planet : ${planets}" th:selected="${entry.planet != null && entry.planet.id == planet.id}" th:value="${planet.id}" th:text="${planet.name}">Planet name</option>
									</select>
								</td>
								<td th:include="::action" th:with="id=${entry.id},entryAction=${entry.moneyAction},type='MONEY'"></td>
								<td th:include="::action" th:with="id=${entry.id},entryAction=${entry.supplyAction},type='SUPPLIES'"></td>
								<td th:include="::action" th:with="id=${entry.id},entryAction=${entry.fuelAction},type='FUEL'"></td>
								<td th:include="::action" th:with="id=${entry.id},entryAction=${entry.mineral1Action},type='MINERAL1'"></td>
								<td th:include="::action" th:with="id=${entry.id},entryAction=${entry.mineral2Action},type='MINERAL2'"></td>
								<td th:include="::action" th:with="id=${entry.id},entryAction=${entry.mineral3Action},type='MINERAL3'"></td>
								<td class="text-center align-middle">
									<input type="checkbox" class="skr-ingame-route-wait-for-full-storage-checkbox" th:id="|waitforfullstorage-${entry.id}|" th:checked="${entry.waitForFullStorage}" />
								</td>
								<td style="width: 90px;">
									<button type="button" th:title="#{move_up}" class="btn btn-secondary fas fa-angle-up" th:onclick="|route.up(${entry.id})|"></button>
									<button type="button" th:title="#{move_down}" class="btn btn-secondary fas fa-angle-down" th:onclick="|route.down(${entry.id})|"></button>
									<button type="button" th:title="#{delete}" class="btn btn-danger fas fa-trash-alt" th:onclick="|route.deleteEntry(${entry.id})|"></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<script type="module" src="../js/modules/ingame/ship/route.js" th:src="@{/js/modules/ingame/ship/route.js}"></script>
		</div>
	</body>
</html>
