<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" class="container-fluid">
			<input type="hidden" id="skr-ingame-current-x" th:value="${ship.x}" />
			<input type="hidden" id="skr-ingame-current-y" th:value="${ship.y}" />
			<input type="hidden" id="skr-ingame-ship-template-id" th:value="${ship.shipTemplate.id}" />

			<div class="row">
				<div class="col-lg-4" id="skr-ingame-ship-stats-details">
					<th:block th:fragment="stats-details">
						<div class="d-inline-flex align-items-center justify-content-between w-100">
							<h6 class="mb-2">
								<span th:text="${ship.name}">Ship name</span>
								(
								<a
									class="skr-ingame-starbase-production-item-name skr-ingame-clickable-anchor skr-ingame-ship-template-details-button"
									th:text="${@masterDataService.getShipTemplateName(ship.shipTemplate)}"
									th:id="|skr-ingame-ship-template-details-button-${ship.shipTemplate.id}|"
									>Class name</a
								>
								)
							</h6>
							<div>
								<div class="btn-group">
									<button th:if="${ship.fleet != null}" type="button" class="btn btn-success small" th:onclick="|ingame.select('fleet', ${ship.fleet.id})|">
										<i class="fas fa-grip-vertical text-light mr-1"></i>
										<span th:text="|#{fleet}: ${ship.fleet.name}|">Fleet name</span>
									</button>
									<button th:if="${ship.fleet == null}" type="button" class="btn btn-success small">
										<i class="fas fa-grip-vertical text-light mr-1"></i>
										<span th:text="#{no_fleet}">Fleet name</span>
									</button>
									<button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#" onclick="ingame.createNewFleet(true)">
											<span class="small">
												<i class="fa-fw fas fa-plus"></i>
											</span>
											<span th:text="#{create_new_fleet}">Create new fleet</span>
										</a>
										<hr />
										<a class="dropdown-item" href="#" th:if="${ship.fleet != null}" onclick="fleetDetails.removeFromFleet()" th:text="#{remove_from_fleet}">Remove from fleet 'fleet name'</a>
										<hr th:if="${ship.fleet != null}" />
										<a class="dropdown-item" href="#" th:each="fleet : ${fleets}" th:text="${fleet.name}" th:onclick="|fleetDetails.addShipToFleet(${fleet.id})|">Fleet name</a>
									</div>
								</div>
							</div>
							<div class="modal skr-ingame-ship-template-details-modal" tabindex="-1" role="dialog" th:id="|skr-ingame-ship-template-details-${ship.shipTemplate.id}|">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-body">
											<div class="skr-ingame-ship-template-details-content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="d-inline-flex w-100 justify-content-between">
							<img th:src="${ship.createFullImagePath()}" />
							<div class="ml-3 w-100">
								<div class="d-inline-flex w-100 justify-content-between">
									<div>
										<span th:text="|#{task}:|"></span>
										<span th:text="#{${ship.retrieveTaskString()}}"></span>
									</div>
									<i th:if="${ship.experience > 0}" th:title="|#{experience_level}: ${ship.experience}|" class="fa-fw" th:classappend="${ship.retrieveExperienceIconClass()}"></i>
								</div>
								<table style="width: 100%;">
									<tr>
										<td>
											<div th:text="|#{damage}:|"></div>
										</td>
										<td>
											<div class="font-weight-bold text-right mr-3" th:text="|${ship.damage} %|"></div>
										</td>
										<td class="ship-bar-details">
											<div class="damage" th:style="|width: ${(100 - ship.damage)}%;|"></div>
										</td>
									</tr>
									<tr>
										<td>
											<div th:text="|#{crew}:|"></div>
										</td>
										<td>
											<div class="font-weight-bold text-right mr-3" th:text="|${ship.crew} / ${ship.shipTemplate.crew}|"></div>
										</td>
										<td class="ship-bar-details">
											<div class="crew" th:style="|width: ${(1.0 * ship.crew) / ship.shipTemplate.crew * 100}%;|"></div>
										</td>
									</tr>
									<tr>
										<td>
											<div th:text="|#{fuel}:|"></div>
										</td>
										<td>
											<div class="font-weight-bold text-right mr-3" th:text="|${ship.fuel} / ${ship.shipTemplate.fuelCapacity}|"></div>
										</td>
										<td class="ship-bar-details">
											<div class="fuel" th:style="|width: ${(1.0 * ship.fuel) / ship.shipTemplate.fuelCapacity * 100}%;|"></div>
										</td>
									</tr>
									<tr>
										<td>
											<div th:text="|#{storage}:|"></div>
										</td>
										<td>
											<div class="font-weight-bold text-right mr-3" th:text="|${ship.retrieveTotalGoods()} / ${ship.retrieveStorageSpace()}|"></div>
										</td>
										<td class="ship-bar-details">
											<div class="cargo" th:style="|width: ${(1.0 * ship.retrieveTotalGoods()) / ship.retrieveStorageSpace() * 100}%;|"></div>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</th:block>
				</div>
				<div class="col-lg-3">
					<div class="card">
						<div class="card-body">
							<div class="row selection-button pt-3">
								<div class="col-8">
									<div class="row">
										<div class="col-4 text-center tutorial-element-stage-OPEN_FREIGHTER_NAVIGATION_FIRST tutorial-element-stage-OPEN_NAVIGATION_BOMBER_FIRST" data-placement="top">
											<button
												type="button"
												th:disabled="${turnDone}"
												id="skr-ingame-ship-navigation-button"
												onclick="ship.show('navigation')"
												th:title="#{navigation}"
												class="tutorial-click-element-stage-OPEN_FREIGHTER_NAVIGATION_FIRST tutorial-click-element-stage-OPEN_NAVIGATION_BOMBER_FIRST"
											>
												<i class="fa-fw fas fa-arrows-alt"></i>
											</button>
										</div>
										<div class="col-4 text-center tutorial-element-stage-OPEN_TASKS" data-placement="top">
											<button type="button" th:disabled="${turnDone}" id="skr-ingame-ship-task-button" onclick="ship.show('task')" th:title="#{task}" class="tutorial-click-element-stage-OPEN_TASKS">
												<i class="fa-fw fas fa-tasks"></i>
											</button>
										</div>
										<div class="col-4 text-center tutorial-element-stage-OPEN_ROUTES" data-placement="top">
											<button type="button" th:disabled="${turnDone}" id="skr-ingame-ship-route-button" onclick="ship.show('route')" th:title="#{routing}" class="tutorial-click-element-stage-OPEN_ROUTES">
												<i class="fa-fw fas fa-retweet"></i>
											</button>
										</div>
									</div>
									<div class="row">
										<div class="col-4 text-center selection-button-bottom tutorial-element-stage-OPEN_SCANNER_OVERVIEW" data-placement="top">
											<button type="button" id="skr-ingame-ship-scanner-button" onclick="ship.show('scanner')" th:title="#{scanner}" class="tutorial-click-element-stage-OPEN_SCANNER_OVERVIEW">
												<i class="fa-fw fab fa-searchengin"></i>
											</button>
										</div>
										<div
											class="col-4 text-center selection-button-bottom tutorial-element-stage-OPEN_FREIGHTER_TRANSPORT_FIRST tutorial-element-stage-OPEN_FREIGHTER_TRANSPORT_SECOND tutorial-element-stage-OPEN_TRANSPORTER_BOMBER_FIRST"
											data-placement="top"
										>
											<button
												type="button"
												th:disabled="${turnDone}"
												id="skr-ingame-ship-transporter-button"
												onclick="ship.show('transporter')"
												th:title="#{transporter}"
												class="tutorial-click-element-stage-OPEN_FREIGHTER_TRANSPORT_FIRST tutorial-click-element-stage-OPEN_FREIGHTER_TRANSPORT_SECOND tutorial-click-element-stage-OPEN_TRANSPORTER_BOMBER_FIRST"
											>
												<i class="fa-fw fas fa-exchange-alt"></i>
											</button>
										</div>
										<div class="col-4 text-center selection-button-bottom">
											<button type="button" id="skr-ingame-ship-logbook-button" onclick="ship.show('logbook')" th:title="#{log_book}">
												<i class="fa-fw fas fa-book-open"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="row" id="skr-ship-small-icons">
										<div class="col-5 text-center">
											<button type="button" th:disabled="${turnDone}" id="skr-ingame-ship-weapon-systems-button" onclick="ship.show('weapon-systems')" th:title="#{weapon_systems}">
												<i class="fa-fw fas fa-bolt"></i>
											</button>
										</div>
										<div class="col-5 text-center">
											<button type="button" th:disabled="${turnDone}" id="skr-ingame-ship-projectiles-button" onclick="ship.show('projectiles')" th:title="#{projectiles}">
												<i class="fa-fw fas fa-rocket"></i>
											</button>
										</div>
										<div class="col-5 text-center">
											<button type="button" th:disabled="${turnDone}" id="skr-ingame-ship-tactics-button" onclick="ship.show('tactics')" th:title="#{tactics}">
												<i class="fa-fw fas fa-signal"></i>
											</button>
										</div>
										<div class="col-5 text-center ">
											<button type="button" th:disabled="${turnDone}" id="skr-ingame-ship-propulsion-button" onclick="ship.show('propulsion-system')" th:title="#{propulsion_system}">
												<i class="fa-fw fas fa-angle-double-right"></i>
											</button>
										</div>
										<div class="col-5 text-center ">
											<button type="button" id="skr-ingame-ship-storage-button" onclick="ship.show('storage')" th:title="#{storage}">
												<i class="fa-fw fa fa-cube"></i>
											</button>
										</div>
										<div class="col-5 text-center ">
											<button type="button" id="skr-ingame-ship-options-button" onclick="ship.show('options')" th:title="#{options}">
												<i class="fa-fw fas fa-cog"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="col-lg-5 skr-ingame-selection-panel tutorial-element-stage-TRANSPORT_FOR_FREIGHTER tutorial-element-stage-ACTIVATE_FREIGHTER_COURSE_MODE_FIRST tutorial-element-stage-SET_COURSE_FREIGHTER_FIRST tutorial-element-stage-TRANSPORT_TO_NEW_COLONY tutorial-element-stage-TRANSPORT_BOMBER_FIRST tutorial-element-stage-SET_COURSE_TO_ENEMY  tutorial-element-stage-SELECT_ROUTE_PLANET_ONE tutorial-element-stage-ADD_ROUTE_PLANET_ONE tutorial-element-stage-SELECT_ROUTE_PLANET_TWO tutorial-element-stage-ADD_ROUTE_PLANET_TWO tutorial-element-stage-SET_MIN_ROUTE_FUEL tutorial-element-stage-SCANNER_OVERVIEW tutorial-element-stage-SCANNER_DETAILS tutorial-element-stage-TASKS"
					id="skr-ship-selection"
					data-placement="top"
				></div>
			</div>
			<script type="module" src="../js/modules/ingame/ship/ship.js" th:src="@{/js/modules/ingame/ship/ship.js}"></script>
			<script type="module" src="../js/modules/ingame/fleet/fleet.js" th:src="@{/js/modules/ingame/fleet/fleet.js}"></script>
		</div>
	</body>
</html>
