<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div class="row">
				<div class="col-12">
					<h6>
						<span class="normal" th:text="#{weapon_systems}">Weapon systems</span>
					</h6>
				</div>
			</div>
			<div class="row">
				<div
					class="col-12"
					th:include="ingame/icon-label::content"
					th:with="label=|#{energy_weapons} (${ship.shipTemplate.energyWeaponsCount})|,value=${ship.energyWeaponTemplate != null} ? #{${ship.energyWeaponTemplate.name}} : '-',icon='fas fa-bolt',labelTitle=${ship.energyWeaponTemplate != null} ? |#{tech_level}: ${ship.energyWeaponTemplate.techLevel}| : ''"
				></div>
				<div
					class="col-12"
					th:include="ingame/icon-label::content"
					th:with="label=|#{projectile_weapons} (${ship.shipTemplate.projectileWeaponsCount})|,value=${ship.projectileWeaponTemplate != null} ? #{${ship.projectileWeaponTemplate.name}} : '-',icon='fas fa-rocket',labelTitle=${ship.projectileWeaponTemplate != null} ? |#{tech_level}: ${ship.projectileWeaponTemplate.techLevel}| : ''"
				></div>
				<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{hangar},value=${ship.shipTemplate.hangarCapacity},icon='fab fa-gitter'"></div>
			</div>
		</div>
	</body>
</html>
