<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content">
		<div class="row">
			<div class="col-md-6">
				<h5>
					<span class="normal" th:text="#{class} + ' ' + ${planet.type} + ' ' + #{planet} ">Class M planet</span>
					<span th:include="ingame/help::content"
						th:with="id='planet-temperature',title=#{help_planet_population_title},fragment='simple',content=#{help_planet_population_content}"></span>
				</h5>
				<label th:text="#{average_temperature} + ': ' + ${planet.temperature} + '°C'">Average temperature: 25°C</label>
				<i class="fas fa-thermometer-half"></i>
			</div>
			<div class="col-md-6">
				<img th:src="${planet.createFullImagePath()}">
			</div>
		</div>
	</div>
</body>
</html>