<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" class="container-fluid">
			<input type="hidden" id="skr-ingame-current-x" th:value="${planet.x}" />
			<input type="hidden" id="skr-ingame-current-y" th:value="${planet.y}" />

			<div class="row">
				<div class="col-lg-4">
					<div class="row">
						<div class="col-md-8">
							<h4 th:text="${planet.name}">Planetname</h4>
							<div class="row">
								<div class="col-6">
									<div class="row">
										<div class="col-12 tutorial-element-stage-COLONISTS" data-placement="top">
											<div th:include="ingame/icon-label::content" th:with="label=#{colonists},value=${planet.colonists},icon='fa fa-male'"></div>
										</div>

										<div class="col-12 tutorial-element-stage-CANTOX" data-placement="top">
											<div th:include="ingame/icon-label::content" th:with="label=#{money},value=${planet.money},icon='fa fa-coins'"></div>
										</div>
										<div class="col-12 tutorial-element-stage-SUPPLIES" data-placement="top">
											<div th:include="ingame/icon-label::content" th:with="label=#{supplies},value=|${planet.supplies} KT|,icon='fa fa-cube'"></div>
										</div>
									</div>
								</div>
								<div class="col-6 border-left">
									<div class="row">
										<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{mines},value=${planet.mines},icon='fas fa-monument'"></div>
										<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{factories},value=${planet.factories},icon='fa fa-industry'"></div>
										<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{planetary_defense},value=${planet.planetaryDefense},icon='fab fa-fort-awesome'"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 border-left">
							<div class="row tutorial-element-stage-MINERALS" data-placement="top">
								<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{fuel},value=|${planet.fuel} KT|,icon='fas fa-circle'"></div>
								<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{mineral1},value=|${planet.mineral1} KT|,icon='fas fa-certificate'"></div>
								<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{mineral2},value=|${planet.mineral2} KT|,icon='fas fa-square-full'"></div>
								<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{mineral3},value=|${planet.mineral3} KT|,icon='fas fa-play'"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="card">
						<div class="card-body">
							<div class="row selection-button pt-3">
								<div class="col-9">
									<div class="row">
										<div class="col-4 text-center">
											<button type="button" onclick="planet.show('details')" id="skr-ingame-planet-details-button" th:title="#{details}">
												<i class="fa-fw fas fa-globe"></i>
											</button>
										</div>
										<div class="col-4 text-center tutorial-element-stage-OPEN_ORBITAL_SYSTEMS" data-placement="top">
											<button type="button" th:disabled="${turnDone}" onclick="planet.show('orbital-systems')" id="skr-ingame-planet-orbitalsystems-button" th:title="#{orbital_systems}" class="tutorial-click-element-stage-OPEN_ORBITAL_SYSTEMS">
												<i class="fa-fw fas fa-building"></i>
											</button>
										</div>
										<div class="col-4 text-center tutorial-element-stage-INITIAL_OPEN_STARBASE" data-placement="top">
											<button
												type="button"
												th:disabled="${turnDone}"
												class="tutorial-click-element-stage-INITIAL_OPEN_STARBASE"
												th:onclick="${planet.starbase != null} ? |ingame.select('starbase', ${planet.starbase.id})| : |planet.show('starbase-construction')|"
												id="skr-ingame-planet-starbase-button"
												th:title="#{starbase}"
											>
												<i class="fa-fw fas fa-project-diagram"></i>
											</button>
										</div>
									</div>
									<div class="row">
										<div class="col-4 text-center selection-button-bottom">
											<button type="button" onclick="planet.show('native-species')" id="skr-ingame-planet-nativefaction-button" th:title="#{dominant_species}">
												<i class="fa-fw fab fa-mandalorian"></i>
											</button>
										</div>
										<div class="col-4 text-center selection-button-bottom">
											<button type="button" onclick="planet.show('logbook')" id="skr-ingame-planet-logbook-button" th:title="#{log_book}">
												<i class="fa-fw fas fa-book-open"></i>
											</button>
										</div>
										<div class="col-4 text-center selection-button-bottom">
											<button type="button" onclick="planet.show('ships-in-orbit')" id="skr-ingame-planet-shipsinorbit-button" th:title="#{ships_in_orbit}">
												<i class="fa-fw fas fa-space-shuttle"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="col-3">
									<div class="row" id="skr-planet-buttons-right">
										<div class="col-12 text-center selection-button-small" data-placement="top">
											<button type="button" th:disabled="${turnDone}" onclick="planet.show('mines')" id="skr-ingame-planet-mines-button" th:title="#{mines}">
												<i class="fa-fw fa fa-monument"></i>
											</button>
										</div>
										<div class="col-12 text-center selection-button-small tutorial-element-stage-OPEN_FACTORIES_FIRST tutorial-element-stage-OPEN_FACTORIES_SECOND" data-placement="top">
											<button
												type="button"
												th:disabled="${turnDone}"
												onclick="planet.show('factories')"
												id="skr-ingame-planet-factories-button"
												th:title="#{factories}"
												class="tutorial-click-element-stage-OPEN_FACTORIES_FIRST tutorial-click-element-stage-OPEN_FACTORIES_SECOND"
											>
												<i class="fa-fw fa fa-industry"></i>
											</button>
										</div>
										<div class="col-12 text-center selection-button-small">
											<button type="button" th:disabled="${turnDone}" onclick="planet.show('planetary-defense')" id="skr-ingame-planet-planetarydefense-button" th:title="#{planetary_defense}">
												<i class="fa-fw fab fa-fort-awesome"> </i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="col-lg-5 skr-ingame-selection-panel tutorial-element-stage-BUILD_FACTORIES_FIRST tutorial-element-stage-BUILD_FACTORIES_SECOND tutorial-element-stage-OPEN_ORBITAL_SYSTEM_SLOT tutorial-element-stage-BUILD_ORBITAL_SYSTEM tutorial-element-stage-BUILD_ALL_FACTORIES"
					data-placement="top"
					id="skr-planet-selection"
				></div>
			</div>
			<script type="module" src="../js/modules/ingame/planet/planet.js" th:src="@{/js/modules/ingame/planet/planet.js}"></script>
		</div>
	</body>
</html>
