<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div class="row">
				<div class="col-6">
					<h5>
						<span class="normal" th:text="#{planetary_defense}">Planetary defense</span>
						<span th:include="ingame/help::content" th:with="id='planet-defense',title=#{help_planet_defense_title},fragment='planet-defense'"></span>
					</h5>
					<div class="row">
						<div class="col-6" th:include="ingame/icon-label::content" th:with="label=#{running},value=${planet.planetaryDefense},icon='fab fa-fort-awesome'"></div>
						<div class="col-6 border-left" th:include="ingame/icon-label::content" th:with="label=#{maximum},value=${planet.retrieveMaxPlanetaryDefenseByColonists()},icon='fab fa-fort-awesome'"></div>
					</div>
					<div class="row" th:if="${maxPlanetaryDefense > planet.planetaryDefense}">
						<div class="col-4">
							<select id="skr-planet-planetarydefense-quantity-select" class="custom-select">
								<option th:each="quantity : ${#numbers.sequence(1, maxPlanetaryDefense - planet.planetaryDefense)}" th:selected="${quantity == maxPlanetaryDefense - planet.planetaryDefense}" th:value="${quantity}" th:text="${quantity}">1</option>
							</select>
						</div>
						<div class="col-8">
							<button type="button" class="btn btn-primary" id="skr-planet-planetarydefense-build-planetarydefense" th:text="#{construct_planetary_defense}">Fabriken bauen</button>
						</div>
					</div>
					<div class="row" th:if="${maxPlanetaryDefense <= planet.planetaryDefense && planet.retrieveMaxPlanetaryDefenseByColonists() > maxPlanetaryDefense}">
						<div class="col-12 mb-1" th:text="#{currently_no_defense_buildable}"></div>
					</div>
					<div class="row">
						<div class="col-12">
							<input type="checkbox" id="skr-planet-planetarydefense-automated-checkbox" th:checked="${planet.autoBuildPlanetaryDefense}" />
							<label for="skr-planet-planetarydefense-automated-checkbox" th:text="#{automated_construction}">Automatisierter Bau</label>
						</div>
					</div>
				</div>
				<div class="col-6"></div>
			</div>
			<script type="module" src="../js/modules/ingame/planet/planetary-defense.js" th:src="@{/js/modules/ingame/planet/planetary-defense.js}"></script>
		</div>
	</body>
</html>
