<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="fleet-empty">
			<div class="skr-game-selection-message" id="skr-ingame-fleet-empty" th:text="#{fleet_empty}">This fleet has no ships!</div>
		</div>

		<div th:fragment="creation" class="container-fluid" id="skr-ingame-fleet-creation">
			<div class="row">
				<div class="col-lg-4">
					<h5>
						<span th:text="#{create_new_fleet}">Create new fleet</span>
						<span th:include="ingame/help::content" th:with="id='fleet-help',title=#{fleets},fragment='simple',content=#{help_fleet_overview}"></span>
					</h5>
					<div class="d-inline-flex">
						<input type="text" class="form-control mr-2" id="skr-ingame-fleet-name-input" />
						<button type="button" class="btn btn-primary" onclick="fleetDetails.save()" id="skr-fleet-change-name-button">
							<span th:text="#{save}">Save</span>
						</button>
					</div>
				</div>
			</div>
			<script type="module" src="../js/modules/ingame/fleet/fleet.js" th:src="@{/js/modules/ingame/fleet/fleet.js}"></script>
		</div>
		<div th:fragment="content" class="container-fluid" id="skr-ingame-fleet-details">
			<input type="hidden" th:value="${fleet.id}" id="skr-ingame-fleet-id" />
			<input type="hidden" id="skr-ingame-current-x" th:value="${fleet.leader.x}" th:if="${fleet.leader != null}" />
			<input type="hidden" id="skr-ingame-current-y" th:value="${fleet.leader.y}" th:if="${fleet.leader != null}" />

			<div class="row">
				<div class="col-lg-4" id="skr-ingame-fleet-stats-details">
					<th:block th:fragment="stats-details">
						<input type="hidden" id="skr-ingame-fleet-ship-ids" th:value="${shipIds}" />

						<h4>
							<span th:text="|#{fleet} ${fleet.name}|">Fleet fleetname</span>
							<span th:include="ingame/help::content" th:with="id='fleet-help',title=#{fleets},fragment='simple',content=#{help_fleet_overview}"></span>
						</h4>
						<div class="row">
							<div class="col-md-6 border-right">
								<div th:include="ingame/icon-label::content" th:with="label=#{fuel},value=|${#numbers.formatDecimal(resourceData.currentTankPercentage, 1, 'POINT', 0, 'COMMA')}%|,icon='fas fa-circle'"></div>
								<div th:include="ingame/icon-label::content" th:with="label=#{projectiles},value=|${#numbers.formatDecimal(resourceData.currentProjectilePercentage, 1, 'POINT', 0, 'COMMA')}%|,icon='fas fa-rocket'"></div>
								<div th:include="ingame/icon-label::content" th:with="label=#{weapons},value=${resourceData.weaponCount},icon='fas fa-bolt'"></div>
							</div>
							<div class="col-md-6">
								<div th:include="ingame/icon-label::content" th:with="label=#{ships},value=${resourceData.shipCount},icon='fas fa-space-shuttle'"></div>
								<div
									th:if="${taskItem != null}"
									th:include="ingame/icon-label::content"
									th:with="label=#{task},value=${taskItem.activeAbilityType != null} ? #{'ship_ability_' + ${taskItem.activeAbilityType}} : #{'task_' + ${taskItem.taskType.toLowerCase()}},icon='fas fa-task'"
								></div>
								<div th:if="${taskItem == null}" th:include="ingame/icon-label::content" th:with="label=#{task},value=#{no_common_task},icon='fas fa-task'"></div>
							</div>
						</div>
					</th:block>
				</div>
				<div class="col-lg-3">
					<div class="card">
						<div class="card-body">
							<div class="row selection-button pt-3">
								<div class="col-3 text-center">
									<button type="button" th:disabled="${turnDone}" onclick="fleet.show('navigation')" id="skr-ingame-fleet-navigation-button" th:title="#{navigation}">
										<i class="fa-fw fas fa-arrows-alt"></i>
									</button>
								</div>
								<div class="col-3 text-center">
									<button type="button" th:disabled="${turnDone}" id="skr-ingame-fleet-task-button" onclick="fleet.show('task')" th:title="#{task}">
										<i class="fa-fw fas fa-tasks"></i>
									</button>
								</div>
								<div class="col-3 text-center">
									<button type="button" th:disabled="${turnDone}" id="skr-ingame-fleet-ships-button" onclick="fleet.show('ships')" th:title="#{ships}">
										<i class="fa-fw fas fa-space-shuttle"></i>
									</button>
								</div>
								<div class="col-3 text-center">
									<button type="button" th:disabled="${turnDone}" id="skr-ingame-fleet-projectiles-button" onclick="fleet.show('projectiles')" th:title="#{projectiles}">
										<i class="fa-fw fas fa-rocket"></i>
									</button>
								</div>
							</div>
							<div class="row selection-button pt-3 pb-2">
								<div class="col-3 text-center">
									<button type="button" th:disabled="${turnDone}" id="skr-ingame-fleet-fuel-button" onclick="fleet.show('fuel')" th:title="#{fill_tanks}">
										<i class="fa-fw fas fa-circle"></i>
									</button>
								</div>
								<div class="col-3 text-center">
									<button type="button" th:disabled="${turnDone}" id="skr-ingame-fleet-tactics-button" onclick="fleet.show('tactics')" th:title="#{tactics}">
										<i class="fa-fw fas fa-signal"></i>
									</button>
								</div>
								<div class="col-3 text-center">
									<button type="button" th:disabled="${turnDone}" id="skr-ingame-fleet-merge-button" onclick="fleet.show('merge')" th:title="#{merge_fleets}">
										<i class="fa-fw fas fa-grip-vertical"></i>
									</button>
								</div>
								<div class="col-3 text-center">
									<button type="button" th:disabled="${turnDone}" id="skr-ingame-fleet-options-button" onclick="fleet.show('options')" th:title="#{options}">
										<i class="fa-fw fas fa-cog"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 skr-ingame-selection-panel" data-placement="top" id="skr-fleet-selection"></div>
			</div>
			<script type="module" src="../js/modules/ingame/fleet/fleet.js" th:src="@{/js/modules/ingame/fleet/fleet.js}"></script>
		</div>
	</body>
</html>
