<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" id="skr-ingame-fleet-ships">
			<div class="row skr-ingame-fleet-ships-item" th:each="ship : ${ships}">
				<div class="col-sm-3 col-md-5 col-lg-4 col-xl-3">
					<a th:onclick="|ingame.select('ship', ${ship.id});|" class="cursor-pointer">
						<img th:src="${ship.createFullImagePath()}" style="height: 75px;" />
					</a>
				</div>
				<div class="col-sm-9 col-md-7 col-lg-8 col-xl-9">
					<div class="row">
						<div class="col-4">
							<a th:onclick="|ingame.select('ship', ${ship.id});|" class="cursor-pointer">
								<b th:text="${ship.name}">Ship name</b>
							</a>
						</div>
						<div class="col-4">
							<input type="radio" name="leader" class="fleet-leader-radio" th:id="|leader-radio-${ship.id}|" th:checked="${fleet.leader == ship}" />
							<label th:for="|leader-radio-${ship.id}|" th:text="#{fleet_leader}">Leader</label>
						</div>
						<div class="col-4">
							<button type="button" class="btn btn-danger" th:onclick="|fleetDetails.removeShipFromFleet(${ship.id})|">
								<span th:text="#{remove}">Remove</span>
							</button>
						</div>

						<div class="col-6">
							<div th:include="ingame/icon-label::content" th:with="label=#{fuel},value=|${#numbers.formatDecimal(new Float(ship.fuel) / ship.shipTemplate.fuelCapacity * 100, 1, 'POINT', 0, 'COMMA')}%|,icon='fas fa-circle'"></div>
						</div>
						<div class="col-6">
							<div
								th:include="ingame/icon-label::content"
								th:with="label=#{projectiles},value=${ship.shipTemplate.projectileWeaponsCount > 0} ? |${#numbers.formatDecimal(new Float(ship.projectiles) / (ship.shipTemplate.projectileWeaponsCount * 5) * 100, 1, 'POINT', 0, 'COMMA')}%| : '-',icon='fas fa-rocket'"
							></div>
						</div>
						<div class="col-6">
							<span th:text="|#{task}:|">Task:</span>
							<span th:text="#{${ship.retrieveTaskString()}}">Task</span>
						</div>
						<div class="col-6">
							<span th:text="|#{aggressiveness}:|">Aggressiveness:</span>
							<span th:text="|${ship.getAggressiveness()}%|">100%</span>
						</div>
					</div>
				</div>
			</div>

			<script type="module" src="../js/modules/ingame/fleet/ships.js" th:src="@{/js/modules/ingame/fleet/ships.js}"></script>
		</div>
	</body>
</html>
