<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{combat_calculator_space} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{combat_calculator_space}"></li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-6 row">
					<div style="font-weight: bold; margin-bottom: 1em;" class="col-12" th:text="#{our_ship}"></div>
					<div class="col-6">
						<label for="hull1" th:text="#{select_hull}">
					</div>
					<div class="col-6">
						<select onchange="doRequest()" id="hull1">
							<option th:each="hull : ${hulls}" th:disabled="${hull.value.length() == 0}" th:value="${hull.value}" th:text="${hull.key}"></option>
						</select>
					</div>
					<div class="col-6">
						<label for="energy1" th:text="#{energy_weapons}">
					</div>
					<div class="col-6">
						<select onchange="doRequest()" id="energy1">
							<option th:each="energy : ${energies}" th:value="${energy.value}" th:text="${energy.key}"></option>
						</select>
					</div>
					<div class="col-6">
						<label for="projectile1" th:text="#{projectile_weapons}">
					</div>
					<div class="col-6">
						<select onchange="doRequest()" id="projectile1">
							<option th:each="projectile : ${projectiles}" th:value="${projectile.value}" th:text="${projectile.key}"></option>
						</select>
					</div>
					<div class="col-6">
						<label for="projectile1cnt" th:text="#{available_projectile_count}">
					</div>
					<div class="col-6">
						<input type="number" id="projectile1cnt" onchange="doRequest()" value="0" />
					</div>
					<div class="col-6">
						<label for="damage1" th:text="#{damage}">
					</div>
					<div class="col-6">
						<input type="number" id="damage1" onchange="doRequest()" value="0" />
					</div>
					<div class="col-6">
						<label for="shield1" th:text="#{shields}">
					</div>
					<div class="col-6">
						<input type="number" id="shield1" onchange="doRequest()" value="100" />
					</div>
					<div class="col-12">
						<span th:text="#{combat_result_me}"></span><span id="result1"> 0</span><span>%</span>
					</div>
				</div>
				<div class="col-6 row">
					<div style="font-weight: bold; margin-bottom: 1em;" class="col-12" th:text="#{enemy_ship}"></div>
					<div class="col-6">
						<label for="hull2" th:text="#{select_hull}">
					</div>
					<div class="col-6">
						<select onchange="doRequest()" id="hull2">
							<option th:each="hull : ${hulls}" th:disabled="${hull.value.length() == 0}" th:value="${hull.value}" th:text="${hull.key}"></option>
						</select>
					</div>
					<div class="col-6">
						<label for="energy2" th:text="#{energy_weapons}">
					</div>
					<div class="col-6">
						<select onchange="doRequest()" id="energy2">
							<option th:each="energy : ${energies}" th:value="${energy.value}" th:text="${energy.key}"></option>
						</select>
					</div>
					<div class="col-6">
						<label for="projectile2" th:text="#{projectile_weapons}">
					</div>
					<div class="col-6">
						<select onchange="doRequest()" id="projectile2">
							<option th:each="projectile : ${projectiles}" th:value="${projectile.value}" th:text="${projectile.key}"></option>
						</select>
					</div>
					<div class="col-6">
						<label for="projectile2cnt" th:text="#{available_projectile_count}">
					</div>
					<div class="col-6">
						<input type="number" id="projectile2cnt" onchange="doRequest()" value="0" />
					</div>
					<div class="col-6">
						<label for="damage2" th:text="#{damage}">
					</div>
					<div class="col-6">
						<input type="number" id="damage2" onchange="doRequest()" value="0" />
					</div>
					<div class="col-6">
						<label for="shield2" th:text="#{shields}">
					</div>
					<div class="col-6">
						<input type="number" id="shield2" onchange="doRequest()" value="100" />
					</div>
					<div class="col-12">
						<span th:text="#{combat_result_enemy}"></span><span id="result2"> 0</span><span>%</span>
					</div>
				</div>
			</div>
			<script src="../js/modules/dashboard/space-combat-calc.js" th:src="@{/js/modules/dashboard/space-combat-calc.js}"></script>
		</section>
	</body>
</html>
