<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{infos} - #{application_name}|"></title>
	</head>
	<body>
		<div th:fragment="item">
			<a th:href="|infos/${link}|" class="skr-infos-link-item p-3 border rounded border-primary mb-3">
				<i class="fa-fw text-primary mr-1" th:classAppend="${icon}"></i>
				<span th:text="${title}">Item title</span>
			</a>
		</div>
		<section layout:fragment="content">
			<div class="container-fluid">
				<h2 th:text="#{basics}" class="text-center">Basics</h2>

				<div class="row">
					<div class="col-md-4" th:include="::item" th:with="icon='fas fa-atlas',link='introduction',title=#{introduction}"></div>
					<div class="col-md-4" th:include="::item" th:with="icon='fas fa-globe',link='planets',title=#{planets}"></div>
					<div class="col-md-4" th:include="::item" th:with="icon='fas fa-space-shuttle',link='ships',title=#{ships}"></div>
					<div class="col-md-4" th:include="::item" th:with="icon='fas fa-project-diagram',link='starbases',title=#{starbases}"></div>
					<div class="col-md-4" th:include="::item" th:with="icon='fab fa-galactic-senate',link='factions',title=#{factions}"></div>
					<div class="col-md-4" th:include="::item" th:with="icon='fas fa-globe',link='planet-types',title=#{planet_types}"></div>
				</div>

				<h2 th:text="#{advanced}" class="mt-2 text-center">Advanced</h2>

				<div class="row">
					<div class="col-md-4" th:include="::item" th:with="icon='fas fa-space-shuttle',link='space-combat',title=#{space_combat}"></div>
					<div class="col-md-4" th:include="::item" th:with="icon='fas fa-globe',link='orbital-combat',title=#{orbital_combat}"></div>
					<div class="col-md-4" th:include="::item" th:with="icon='fas fa-male',link='ground-combat',title=#{ground_combat}"></div>
					<div class="col-md-4" th:include="::item" th:with="icon='fas fa-building',link='orbital-systems',title=#{orbital_systems}"></div>
					<div class="col-md-4" th:include="::item" th:with="icon='fab fa-mandalorian',link='native-species',title=#{dominant_species}"></div>
					<div class="col-md-4" th:include="::item" th:with="icon='fas fa-atom',link='anomalies',title=#{anomalies}"></div>
					<div class="col-md-4" th:include="::item" th:with="icon='fas fa-bolt',link='combat-calculator/space',title=#{combat_calculator_space}"></div>
				</div>
			</div>
		</section>
	</body>
</html>
