<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{orbital_systems} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{orbital_systems}">Orbital systems</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-12">
					<h4 th:text="#{orbital_systems}">Orbital systems</h4>
					<p>Orbital systems are buildings or institutions that can be build on a planet. Every planet has 1 to 6 slots available for them. Once built an orbital system cannot be removed anymore, so think careful before building!</p>

					<h5>Cost overview</h5>
					<table class="table">
						<thead>
							<tr>
								<th th:text="#{name}">Name</th>
								<th>
									<i th:title="#{money}" class="fa-fw fa fa-coins"></i>
								</th>
								<th>
									<i th:title="#{supplies}" class="fa-fw fa fa-cube"></i>
								</th>
								<th>
									<i th:title="#{fuel}" class="fa-fw fa fa-circle"></i>
								</th>
								<th>
									<i th:title="#{mineral1}" class="fa-fw fas fa-certificate"></i>
								</th>
								<th>
									<i th:title="#{mineral2}" class="fa-fw fas fa-square-full"></i>
								</th>
								<th>
									<i th:title="#{mineral3}" class="fa-fw fas fa-play"></i>
								</th>
								<th th:text="#{effect}">Effect</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="type : ${types}" th:if="!${'SPY_CENTER'.equals(type.name())}">
								<td th:text="#{'orbital_system_type_' + ${type.name()}}">Name</td>
								<td th:text="${type.money}">120</td>
								<td th:text="${type.supplies}">17</td>
								<td th:text="${type.fuel}">0</td>
								<td th:text="${type.mineral1}">20</td>
								<td th:text="${type.mineral2}">17</td>
								<td th:text="${type.mineral3}">13</td>
								<td th:text="#{'orbital_system_short_description_' + ${type.name()}}">Description</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</body>
</html>
