<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{starbases} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{starbases}">Starbases</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-12">
					<h4 th:text="#{help_infos_starbases_types}">Types</h4>
					<p th:text="#{help_infos_starbases_intro}">
						Starbases can be build at planet. One planet can only have one starbase and they cannot be taken down after construction. They are very expensive but offer substantial services.
					</p>

					<table class="table">
						<thead>
							<tr>
								<th th:text="#{type}">Type</th>
								<th>
									<i th:title="#{money}" class="fa-fw fa fa-coins"></i>
								</th>
								<th>
									<i th:title="#{supplies}" class="fa-fw fa fa-cube"></i>
								</th>
								<th>
									<i th:title="#{fuel}" class="fa-fw fa fa-circle"></i>
								</th>
								<th>
									<i th:title="#{mineral1}" class="fa-fw fas fa-certificate"></i>
								</th>
								<th>
									<i th:title="#{mineral2}" class="fa-fw fas fa-square-full"></i>
								</th>
								<th>
									<i th:title="#{mineral3}" class="fa-fw fas fa-play"></i>
								</th>
								<th th:text="#{description}">Description</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="entry : ${types}">
								<td th:text="#{${entry.name()}}">Type name</td>
								<td th:text="${entry.costMoney}"></td>
								<td th:text="${entry.costSupplies}"></td>
								<td th:text="${entry.costFuel}"></td>
								<td th:text="${entry.costMineral1}"></td>
								<td th:text="${entry.costMineral2}"></td>
								<td th:text="${entry.costMineral3}"></td>
								<td th:text="#{'starbase_description_' + ${entry.name()}}">Description</td>
							</tr>
						</tbody>
					</table>

					<h4 th:text="#{tech_level}">Techlevel</h4>
					<p th:text="#{help_infos_starbases_tech_levels_one}">
						Ships are constructed out of the 4 components hull, propulsion, energy weapons and projectile weapons. For each of these components a lot of variants exists that have different techlevels. The higher the techlevel the more sophisticated
						the component and the higher the production costs.
					</p>

					<p th:text="#{help_infos_starbases_tech_levels_two}">
						Each starbase needs to be upgraded individually for each of these technologies. For instance upgrading hulls to level 6 in one starbase does not lead to all starbases having hulls at level 6! Upgrading starbase techlevels is only a matter
						of costs (Cantox), it does not take any other resources and no turn is needed to be completed.
					</p>

					<a id="spacefolds"><h4 th:text="#{space_folds}">Space folds</h4></a>
					<p th:text="#{help_infos_starbases_space_folds_one}">
						With space folds resources like Cantox, supplies and minerals (but not people) can be transported to planets and ships. A starbase with hull techlevel 7 and propulsion techlevel 8 is required for this.
					</p>
					<p th:utext="#{help_infos_starbases_s_space_folds_two}">
						Space folds have the following costs: <br />
						- Per KT supplies, Lemin and mineral 8 Cantox are needed <br />
						- To initialize a space fold at least 75 Cantox are needed <br />
						- Cantox do not cost anything to transport (apart from the 75 Cantox to initialize the space fold in the first place)
					</p>
					<p th:utext="#{help_infos_starbases_s_space_folds_three}">
						Advantages: <br />
						- They travel very fast at Warp 12.67 (160 lightyears per turn) <br />
						- They can only be destroyed with subspace distortions <br />
						- They do not consume fuel like freighters <br />
						- If a ship is the target of a space fold and the ship moves, the space fold automatically follows it
					</p>
					<p th:utext="#{help_infos_starbases_s_space_folds_four}">
						Disadvantages: <br />
						- They can get very expensive with big loads<br />
						- A starbase with high tech level upgrades is necessary<br />
						- Enemies can estimate where space folds come from and where they are going to <br />
						- After initializing a space fold it cannot be canceled and its course cannot be changed
					</p>
				</div>
			</div>
		</section>
	</body>
</html>
