<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<input type="hidden" id="skr-ingame-orbitalsystem-id" th:value="${orbitalSystem.id}" />

			<div class="row no-gutters">
				<div class="col-12">
					<table class="table font-weight-bold">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">
									<i class="fa-fw fa fa-coins"></i>
								</th>
								<th scope="col">
									<i class="fa-fw fa fa-cube"></i>
								</th>
								<th scope="col">
									<i class="fa-fw fas fa-circle"></i>
								</th>
								<th scope="col">
									<i class="fa-fw fas fa-certificate"></i>
								</th>
								<th scope="col">
									<i class="fa-fw fas fa-square-full"></i>
								</th>
								<th scope="col">
									<i class="fa-fw fas fa-play"></i>
								</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="type : ${types}">
								<td>
									<button type="button" class="btn btn-link" th:data1="${type.name()}" th:onclick="|orbitalSystemConstruction.showModal(this.getAttribute('data1'))|" th:text="#{'orbital_system_type_' + ${type.name()}}">
										Orbital system type name
									</button>

									<div class="modal" tabindex="-1" role="dialog" th:id="|skr-ingame-orbital-system-type-modal-${type.name()}|">
										<div class="modal-dialog modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-header text-center">
													<h4 class="text-center" th:text="#{'orbital_system_type_' + ${type.name()}}">Orbital system name</h4>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<h5 class="text-center" th:text="#{'orbital_system_short_description_' + ${type.name()}}">Description</h5>
												</div>
											</div>
										</div>
									</div>
								</td>
								<td th:text="${type.money}" th:class="${type.money > orbitalSystem.planet.money} ? 'text-danger' : ''">120</td>
								<td th:text="${type.supplies}" th:class="${type.supplies > orbitalSystem.planet.supplies} ? 'text-danger' : ''">120</td>
								<td th:text="${type.fuel}" th:class="${type.fuel > orbitalSystem.planet.fuel} ? 'text-danger' : ''">120</td>
								<td th:text="${type.mineral1}" th:class="${type.mineral1 > orbitalSystem.planet.mineral1} ? 'text-danger' : ''">120</td>
								<td th:text="${type.mineral2}" th:class="${type.mineral2 > orbitalSystem.planet.mineral2} ? 'text-danger' : ''">120</td>
								<td th:text="${type.mineral3}" th:class="${type.mineral3 > orbitalSystem.planet.mineral3} ? 'text-danger' : ''">120</td>
								<td>
									<button
										type="button"
										class="btn btn-primary tutorial-click-element-stage-BUILD_ORBITAL_SYSTEM"
										th:data1="${type.name()}"
										th:onclick="|orbitalSystemConstruction.construct(this.getAttribute('data1'))|"
										th:if="${type.canBeBuild(orbitalSystem.planet)}"
										th:text="#{build}"
									>
										Build
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<script type="module" src="../js/modules/ingame/orbitalsystem/orbitalsystem-construction.js" th:src="@{/js/modules/ingame/orbitalsystem/orbitalsystem-construction.js}"></script>
		</div>
	</body>
</html>
