<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
<body>
	<div th:fragment="content" id="skr-browser-warning" style="display: none;" class="container">
		<div class="row">
			<div class="col-12 alert alert-warning text-center">
				<span th:text="#{browser_warning}">You are unfortunately using an unsupported browser! To be able to play use one of the following
					browsers:</span>
				<div>
					<a target="_blank" href="https://www.google.com/chrome/">Google Chrome</a>
					|
					<a target="_blank" href="https://www.mozilla.org/">Mozilla Firefox</a>
					|
					<a target="_blank" href="https://www.opera.com/">Opera</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>