<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:lang="${#locale.getLanguage()}">
	<head>
		<title layout:title-pattern="$CONTENT_TITLE" th:text="|#{application_name} - #{application_short_description}|">Skrupel TNG - The free sci-fi round based browser game</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta charset="UTF-8" />
		<meta name="description" th:content="#{application_meta_description}" />
		<meta name="robots" content="index,follow" />
		<link rel="canonical" th:href="|${@installationDetailsHelper.getDomainUrl()}${#httpServletRequest.requestURI}|" />

		<meta property="og:type" content="website" />
		<meta property="og:title" th:content="#{application_name}" />
		<meta property="og:description" th:content="#{application_meta_description}" />
		<meta property="og:image" th:content="|${@installationDetailsHelper.getDomainUrl()}/logo.png|" />
		<meta property="og:url" th:content="${@installationDetailsHelper.getDomainUrl()}" />
		<meta property="og:site_name" th:content="#{application_name}" />

		<meta name="twitter:title" th:content="#{application_name}" />
		<meta name="twitter:description" th:content="#{application_meta_description}" />
		<meta name="twitter:image" th:content="|${@installationDetailsHelper.getDomainUrl()}/logo.png|" />
		<meta name="twitter:url" th:content="${@installationDetailsHelper.getDomainUrl()}" />
		<meta name="twitter:site" content="@skrupeltng" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:creator" content="@robertbleyl" />

		<link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" href="../css/fontawesome-all.min.css" th:href="@{/css/fontawesome-all.min.css}" />
		<link rel="stylesheet" href="../css/skrupel_tng.css" th:href="@{/css/skrupel_tng.css}" />
		<link rel="stylesheet" href="../css/modules/dashboard/dashboard.css" th:href="@{/css/modules/dashboard/dashboard.css}" />
		<link rel="stylesheet" href="../css/jquery.typeahead.min.css" th:href="@{/css/jquery.typeahead.min.css}" />

		<script type="text/javascript" src="../js/jquery.js" th:src="@{/js/jquery.js}"></script>
		<script type="text/javascript" src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" src="../js/browser_warning.js" th:src="@{/js/browser_warning.js}"></script>
		<script type="text/javascript" src="../js/help_modal.js" th:src="@{/js/help_modal.js}"></script>

		<script th:if="${@dashboardLayoutService.isLoggedIn()}" type="module" src="../js/skrupel_tng.js" th:src="@{/js/skrupel_tng.js}"></script>
		<script type="text/javascript" src="../js/modules/dashboard/dashboard.js" th:src="@{/js/modules/dashboard/dashboard.js}"></script>
	</head>
	<body>
		<header class="header fixed-top" id="skr-dashboard-header">
			<nav class="navbar navbar-expand-md">
				<a class="navbar-brand" href="/" th:title="#{back_to_dashboard}">
					<img src="/images/landingpage/logo.png" alt="Logo" />
					<span>Skrupel TNG</span>
				</a>

				<div class="d-md-none" th:if="${@dashboardLayoutService.isLoggedIn()}" id="skr-dashboard-notifications-wrapper-small" th:include="::notifications"></div>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#skr-dashboard-nav-bar" aria-controls="skr-dashboard-nav-bar" aria-expanded="false" aria-label="Toggle navigation">
					<i class="navbar-toggler-icon fa fa-bars"></i>
				</button>

				<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="skr-dashboard-nav-bar">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item" id="skr-dashboard-my-games">
							<a class="nav-link" id="skr-dashboard-my-games-button" href="/my-games" th:if="${@dashboardLayoutService.isLoggedIn()}">
								<i class="fa-fw fa fa-check"></i>
								<span th:text="#{my_games}">My games</span>
							</a>
						</li>
						<li class="nav-item" id="skr-dashboard-open-games">
							<a class="nav-link" id="skr-dashboard-open-games-button" href="/open-games" th:if="${@dashboardLayoutService.isLoggedIn()}">
								<i class="fa-fw fa fa-list"></i>
								<span th:text="#{open_games}">Open games</span>
							</a>
						</li>
						<li class="nav-item" id="skr-dashboard-new-game" th:if="${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" id="skr-dashboard-new-game-button" href="/new-game">
								<i class="fa-fw fa fa-plus"></i>
								<span th:text="#{new_game}">New game</span>
							</a>
						</li>
						<li class="nav-item" id="skr-dashboard-infos">
							<a class="nav-link" id="skr-dashboard-infos-button" href="/infos" th:if="${@dashboardLayoutService.isLoggedIn()}">
								<i class="fa-fw fa fa-info"></i>
								<span th:text="#{infos}">Infos</span>
							</a>
						</li>
						<li class="nav-item" id="skr-dashboard-continue-tutorial" th:if="${@dashboardLayoutService.isLoggedIn() && @tutorialService.hasTutorial()}">
							<a class="nav-link" id="skr-dashboard-continue-tutorial-button" th:href="|/ingame/game?id=${@tutorialService.getTutorialGameId()}|">
								<i class="fa-fw fas fa-graduation-cap"></i>
								<span th:text="#{continue_tutorial}">Continue tutorial</span>
							</a>
						</li>
						<li class="nav-item" id="skr-dashboard-start-tutorial" th:if="${@dashboardLayoutService.isLoggedIn() && !@tutorialService.hasTutorial() && !@tutorialService.tutorialFinished()}">
							<a href="#" class="nav-link" id="skr-dashboard-start-tutorial-button">
								<i class="fa-fw fas fa-graduation-cap"></i>
								<span th:text="#{start_tutorial}">Start tutorial</span>
							</a>
						</li>
					</ul>
					<ul class="navbar-nav m-auto" th:if="!${@dashboardLayoutService.isLoggedIn()}">
						<li class="nav-item">
							<a class="btn btn-success" href="/register" th:title="#{register_link_description}">
								<i class="fa-fw fa fa-check"></i>
								<span th:text="#{register_for_free}">Register for free</span>
							</a>
						</li>
					</ul>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item" th:if="${@dashboardLayoutService.isLoggedIn() && @dashboardLayoutService.isAdmin() && @configProperties.isDebug()}">
							<a class="nav-link" href="/admin/debug-game">
								<span>Create debug game</span>
							</a>
						</li>
						<li class="nav-item d-none d-sm-none d-md-none d-md-block" id="skr-dashboard-admin" th:if="${@dashboardLayoutService.isLoggedIn() && @dashboardLayoutService.isAdmin()}">
							<div class="dropdown">
								<button class="btn btn-link pt-2" type="button" id="skr-dashboard-admin-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:title="#{administration}">
									<i class="fa-fw fas fa-tools"></i>
								</button>
								<div class="dropdown-menu" id="skr-dashboard-admin-dropdown-menu" aria-labelledby="skr-dashboard-admin-menu-button">
									<a class="dropdown-item" href="/admin/users">
										<i class="fa-fw fas fa-users-cog"></i>
										<span th:text="#{user_management}">User management</span>
									</a>
									<a class="dropdown-item" href="/admin/data-privacy-statements">
										<i class="fa-fw fa fa-passport"></i>
										<span th:text="#{data_privacy_statements}">Data privacy statements</span>
									</a>
									<a class="dropdown-item" href="/admin/legal">
										<i class="fa-fw fa fa-balance-scale"></i>
										<span th:text="#{legal_text}">Legal</span>
									</a>
								</div>
							</div>
						</li>
						<li class="nav-item d-md-none" th:if="${@dashboardLayoutService.isLoggedIn() && @dashboardLayoutService.isAdmin()}">
							<a class="nav-link" href="/admin/users">
								<i class="fa-fw fas fa-users-cog"></i>
								<span th:text="#{user_management}">User management</span>
							</a>
						</li>
						<li class="nav-item d-md-none" th:if="${@dashboardLayoutService.isLoggedIn() && @dashboardLayoutService.isAdmin()}">
							<a class="nav-link" href="/admin/data-privacy-statements">
								<i class="fa-fw fa fa-passport"></i>
								<span th:text="#{data_privacy_statements}">Data privacy statements</span>
							</a>
						</li>
						<li class="nav-item d-md-none" th:if="${@dashboardLayoutService.isLoggedIn() && @dashboardLayoutService.isAdmin()}">
							<a class="nav-link" href="/admin/legal">
								<i class="fa-fw fa fa-balance-scale"></i>
								<span th:text="#{legal_text}">Legal</span>
							</a>
						</li>
						<li class="nav-item d-none d-sm-none d-md-none d-md-block" th:if="!${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" id="skr-dashboard-infos-button" href="/infos">
								<i class="fa-fw fa fa-info"></i>
								<span th:text="#{infos}">Infos</span>
							</a>
						</li>
						<li class="nav-item d-none d-sm-none d-md-none d-md-block" th:if="!${@dashboardLayoutService.isLoggedIn()}">
							<div class="dropdown">
								<button class="btn btn-link dropdown-toggle pt-2" type="button" id="skr-dashboard-language-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${#locale.getDisplayLanguage(#locale)}">
									English
								</button>
								<div class="dropdown-menu" id="skr-dashboard-language-dropdown-menu" aria-labelledby="skr-dashboard-language-menu-button">
									<a class="dropdown-item" href="?lang=en" th:title="#{language_change_link_description}">English</a>
									<a class="dropdown-item" href="?lang=de" th:title="#{language_change_link_description}">Deutsch</a>
								</div>
							</div>
						</li>
						<li class="nav-item d-md-none" th:if="!${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" href="?lang=en" th:title="#{language_change_link_description}">English</a>
						</li>
						<li class="nav-item d-md-none" th:if="!${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" href="?lang=de" th:title="#{language_change_link_description}">Deutsch</a>
						</li>
						<li class="nav-item d-none d-sm-none d-md-none d-md-block" th:if="${@dashboardLayoutService.isLoggedIn()}" id="skr-dashboard-notifications-wrapper-big">
							<th:block th:fragment="notifications">
								<div class="dropdown">
									<button class="btn btn-link pt-2" type="button" id="skr-dashboard-notifications-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:title="#{notifications}">
										<i class="fa-fw fas fa-bell"></i>
										<span class="badge badge-info" th:if="${@notificationService.getUnreadNotificationCount() > 0}" th:text="${@notificationService.getUnreadNotificationCount()}">4</span>
									</button>
									<div class="dropdown-menu p-0 m-0" id="skr-dashboard-notifications-dropdown-menu" aria-labelledby="skr-dashboard-notifications-menu-button">
										<div class="card m-0">
											<div class="card-header d-inline-flex justify-content-between align-items-center w-100">
												<h5 class="m-0" th:text="#{notifications}">Notifications</h5>
												<button type="button" class="btn btn-primary" th:if="${@notificationService.getUnreadNotificationCount() > 0}" onclick="skrupel.markAllNotificationsAsRead()" th:text="#{mark_all_as_read}">Mark all as read</button>
											</div>
											<div class="card-body scroll-wrapper pt-2 pb-2">
												<button
													type="button"
													class="dropdown-item btn btn-link pl-0 pr-0 skr-dashboard-notification-item"
													th:each="notification : ${@notificationService.getAllNotifications()}"
													th:onclick="|skrupel.markNotificationAsRead(${notification.id})|"
												>
													<i class="fa-fw fas fa-info-circle" th:classappend="${notification.read} ? 'text-secondary' : 'text-info'"></i>
													<span th:text="${notification.message}">Message</span>
												</button>
												<div class="text-center" th:if="${@notificationService.getAllNotifications().size() == 0}" th:text="#{no_notifications}">There are not notifications yet.</div>
											</div>
										</div>
									</div>
								</div>
							</th:block>
						</li>
						<li class="nav-item d-none d-sm-none d-md-none d-md-block" th:if="${@dashboardLayoutService.isLoggedIn()}">
							<div class="dropdown">
								<button class="btn btn-link pt-2" type="button" id="skr-dashboard-account-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:title="#{account}">
									<i class="fa-fw fas fa-user"></i>
								</button>
								<div class="dropdown-menu" id="skr-dashboard-account-dropdown-menu" aria-labelledby="skr-dashboard-account-menu-button">
									<a class="dropdown-item" id="skr-dashboard-account-details-link" href="/user-settings">
										<i class="fa-fw fa fa-user"></i>
										<span th:text="#{account}">Account</span>
									</a>
									<a class="dropdown-item" id="skr-dashboard-account-statistics-link" href="/user-statistics">
										<i class="fa-fw fas fa-list-ol"></i>
										<span th:text="#{statistics}">Statistics</span>
									</a>
									<a class="dropdown-item" id="skr-dashboard-achievements-link" href="/achievements">
										<i class="fa-fw fas fa-trophy"></i>
										<span th:text="#{achievements}">Achievements</span>
									</a>
									<a class="dropdown-item" href="/logout">
										<i class="fa-fw fa fa-power-off"></i>
										<span th:text="#{logout}">Logout</span>
									</a>
								</div>
							</div>
						</li>
						<li class="nav-item d-md-none" th:if="${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" href="/user-settings">
								<i class="fa-fw fa fa-user"></i>
								<span th:text="#{account}">Account</span>
							</a>
						</li>
						<li class="nav-item d-md-none">
							<a class="nav-link" id="skr-dashboard-account-statistics-link" href="/user-statistics">
								<i class="fa-fw fas fa-list-ol"></i>
								<span th:text="#{statistics}">Statistics</span>
							</a>
						</li>
						<li class="nav-item d-md-none">
							<a class="nav-link" id="skr-dashboard-achievements-link" href="/achievements">
								<i class="fa-fw fas fa-trophy"></i>
								<span th:text="#{achievements}">Achievements</span>
							</a>
						</li>
						<li class="nav-item d-md-none" th:if="${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" href="/logout">
								<i class="fa-fw fa fa-power-off"></i>
								<span th:text="#{logout}">Logout</span>
							</a>
						</li>
						<li class="nav-item" th:if="!${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" href="/login" th:title="#{login_link_description}">
								<i class="fa-fw fa fa-user"></i>
								<span th:text="#{login}">Login</span>
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<section class="section" id="skr-dashboard-main-section">
			<div th:replace="dashboard/browser-warning::content"></div>
			<div class="container-fluid" layout:fragment="content"></div>
		</section>
		<footer class="footer">
			<nav class="navbar navbar-expand navbar-dark bg-dark">
				<ul class="navbar-nav mx-auto">
					<li th:if="${@installationDetailsHelper.hasLegalText()}" class="nav-item" id="skr-dashboard-legal">
						<a class="nav-link" href="/legal" th:title="#{legal_text}">
							<i class="fa fa-balance-scale"></i>
							<span class="d-none d-sm-inline-block" th:text="#{legal_text}">Legal</span>
						</a>
					</li>
					<li class="nav-item" id="skr-dashboard-data-privacy">
						<a class="nav-link" href="/data-privacy" th:title="#{data_privacy_statement}">
							<i class="fa fa-passport"></i>
							<span class="d-none d-sm-inline-block" th:text="#{data_privacy_statement}">Data privacy statement</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="|mailto:${@installationDetailsHelper.getContactEmail()}|" th:title="#{contact}">
							<i class="fa fa-envelope"></i>
							<span class="d-none d-sm-inline-block" th:text="#{contact}">Contact</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://gitlab.com/robertbleyl/skrupel-tng" target="_blank" th:title="#{project_home_link_description}">
							<i class="fab fa-gitlab"></i>
							<span class="d-none d-sm-inline-block" th:text="#{project_home}">Project home</span>
						</a>
					</li>
					<li class="nav-item" id="skr-dashboard-credits">
						<a class="nav-link" href="/credits" th:title="#{credits_link_description}">
							<i class="fab fa-gitlab"></i>
							<span class="d-none d-sm-inline-block" th:text="#{credits}">Credits</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://twitter.com/skrupeltng" target="_blank" title="Twitter">
							<i class="fab fa-twitter"></i>
							<span class="d-none d-sm-inline-block">Twitter</span>
						</a>
					</li>
				</ul>
			</nav>
		</footer>
	</body>
</html>
