<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
<head>
<title th:text="|#{new_game} - #{application_name}|"></title>
</head>
<body>
	<section layout:fragment="content">
		<form action="#" th:action="@{/new-game}" th:object="${request}" method="post">
			<div id="skr-buttons" class="row">
				<div class="col-12">
					<button type="submit" class="btn btn-primary" id="skr-dashboard-newgame-create-button">
						<i class="fa fa-plus"></i>
						<span th:text="#{create}">Create</span>
					</button>
				</div>
			</div>
			<div th:replace="dashboard/game-options::content"></div>
		</form>
	</section>
</body>
</html>