<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
<body>
	<section layout:fragment="content">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-lg-7" th:text="#{no_data_privacy_statement}"></div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>