<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
<body>
	<section layout:fragment="content" class="container">
		<form action="#" th:object="${request}" method="post">
			<div class="form-row">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title mb-0" th:text="#{reset_password}">Reset password</h3>
						</div>
						<div class="card-body">
							<div>
								<label th:text="|#{password}:|">Password:</label>
								<input type="password" class="form-control" th:field="*{password}" th:placeholder="#{password}">
								<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
							</div>
							<div class="mt-2">
								<label th:text="|#{password_repeat}:|">Repeat password:</label>
								<input type="password" class="form-control" th:field="*{passwordRepeated}" th:placeholder="#{password}">
								<span class="text-danger" th:if="${#fields.hasErrors('passwordRepeated')}" th:errors="*{passwordRepeated}"></span>
								<button type="submit" class="mt-2 btn btn-primary w-100" th:text="#{set_new_password}">Set new password</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>
</html>