<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
<body>
	<section layout:fragment="content" class="container text-center">
		<div class="alert alert-success">
			<h3 class="mb-0" th:text="#{password_reset_successful}">Your password has been reset successfully!</h3>
		</div>
		<div class="mt-2 text-center">
			<a href="/my-games" th:text="#{back_to_dashboard}">Back to dashboard</a>
		</div>
	</section>
</body>
</html>