<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
<body>
	<section layout:fragment="content" class="container text-center">
		<div class="alert alert-danger">
			<h3 class="mb-0" th:text="#{user_for_password_recovery_not_found}">The user for this password recovery cannot be found!</h3>
		</div>
	</section>
</body>
</html>