<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
<body>
	<section layout:fragment="content" class="container text-center" id="skr-registration-success-page">
		<div class="alert alert-success">
			<h3 class="mb-0" th:text="#{${headline}}">Your account has been created!</h3>
		</div>
		<h4>
			<span th:text="#{registration_finished_one}">If you never played before you can </span>
			<a href="#" id="skr-dashboard-start-tutorial-button" th:text="#{registration_finished_two}|">start the tutorial</a>
			<a href="/open-games" th:text="#{registration_finished_three}">browse open games</a>
			<span th:text="#{registration_finished_four}"> or you can </span>
			<a href="/new-game" th:text="#{registration_finished_five}">create a new game.</a>
		</h4>
	</section>
</body>
</html>