<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
<head>
<title th:text="|#{account} - #{application_name}|"></title>
</head>
<body>
	<section layout:fragment="content">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<h2 class="card-header" th:text="#{game_statistics}">Game statistics</h2>
					<div class="card-body">
						<div class="row d-none d-md-flex skr-table-header font-weight-bold">
							<div class="col-3" th:text="#{faction}">Faction</div>
							<div class="col-9">
								<div class="row">
									<div class="col-3 text-right" th:text="#{created}">Created</div>
									<div class="col-3 text-right" th:text="#{games_won_short}">Won</div>
									<div class="col-3 text-right" th:text="#{games_lost_short}">Lost</div>
									<div class="col-3 text-right" th:text="#{games_played_short}">Played</div>
								</div>
							</div>
						</div>
						<div class="row user-stats-row" th:each="item : ${stats}">
							<div class="d-none d-md-flex col-md-3" th:text="${item.factionName}">Orion Conglomerate</div>
							<div class="d-md-none col-md-3 font-weight-bold mt-2" th:text="${item.factionName}">Orion Conglomerate</div>
							<div class="col-md-9">
								<div class="row">
									<div class="col-6 col-sm-3 d-md-none" th:text="|#{created}:|">Created:</div>
									<div class="col-6 col-sm-3 text-right" th:text="${item.gamesCreated}">1</div>
									<div class="col-6 col-sm-3 d-md-none" th:text="|#{games_won_short}:|">Wone:</div>
									<div class="col-6 col-sm-3 text-right" th:text="${item.gamesWon}">2</div>
									<div class="col-6 col-sm-3 d-md-none" th:text="|#{games_lost_short}:|">Lost:</div>
									<div class="col-6 col-sm-3 text-right" th:text="${item.gamesLost}">3</div>
									<div class="col-6 col-sm-3 d-md-none mb-2" th:text="|#{games_played_short}:|">Played:</div>
									<div class="col-6 col-sm-3 text-right" th:text="${item.gamesPlayed}">1</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="card">
					<h2 class="card-header" th:text="#{planet_statistics}">Planet statistics</h2>
					<div class="card-body">
						<div class="row d-none d-md-flex skr-table-header font-weight-bold">
							<div class="col-3" th:text="#{faction}">Faction</div>
							<div class="col-9">
								<div class="row">
									<div class="col-3 text-right" th:text="#{planets_colonized}">Colonized</div>
									<div class="col-3 text-right" th:text="#{planets_conquered}">Conquered</div>
									<div class="col-3 text-right" th:text="#{planets_lost}">Lost</div>
									<div class="col-3 text-right" th:text="#{planets_mined_out}">Mined out</div>
								</div>
							</div>
						</div>
						<div class="row user-stats-row" th:each="item : ${stats}">
							<div class="d-none d-md-flex col-md-3" th:text="${item.factionName}">Orion Conglomerate</div>
							<div class="d-md-none col-md-3 font-weight-bold mt-2" th:text="${item.factionName}">Orion Conglomerate</div>
							<div class="col-md-9">
								<div class="row">
									<div class="col-6 col-sm-3 d-md-none" th:text="|#{planets_colonized}:|">Colonized:</div>
									<div class="col-6 col-sm-3 text-right" th:text="${item.planetsColonized}">1</div>
									<div class="col-6 col-sm-3 d-md-none" th:text="|#{planets_conquered}:|">Conquered:</div>
									<div class="col-6 col-sm-3 text-right" th:text="${item.planetsConquered}">2</div>
									<div class="col-6 col-sm-3 d-md-none" th:text="|#{planets_lost}:|">Lost:</div>
									<div class="col-6 col-sm-3 text-right" th:text="${item.planetsLost}">3</div>
									<div class="col-6 col-sm-3 d-md-none mb-2" th:text="|#{planets_mined_out}:|">Mined out:</div>
									<div class="col-6 col-sm-3 text-right" th:text="${item.planetsMinedOut}">3</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="card">
					<h2 class="card-header" th:text="#{ship_statistics}">Ship statistics</h2>
					<div class="card-body">
						<div class="row d-none d-md-flex skr-table-header font-weight-bold">
							<div class="col-3" th:text="#{faction}">Faction</div>
							<div class="col-9">
								<div class="row">
									<div class="col-3 text-right" th:text="#{ships_built}">Ships built</div>
									<div class="col-3 text-right" th:text="#{ships_destroyed}">Destroyed</div>
									<div class="col-3 text-right" th:text="#{ships_lost}">Lost</div>
									<div class="col-3 text-right" th:text="#{ships_captured}">Captured</div>
								</div>
							</div>
						</div>
						<div class="row user-stats-row" th:each="item : ${stats}">
							<div class="d-none d-md-flex col-md-3" th:text="${item.factionName}">Orion Conglomerate</div>
							<div class="d-md-none col-md-3 font-weight-bold mt-2" th:text="${item.factionName}">Orion Conglomerate</div>
							<div class="col-md-9">
								<div class="row">
									<div class="col-6 col-sm-3 d-md-none" th:text="#{ships_built}">Built</div>
									<div class="col-6 col-sm-3 text-right" th:text="${item.shipsBuilt}">1</div>
									<div class="col-6 col-sm-3 d-md-none" th:text="#{ships_destroyed}">Destroyed</div>
									<div class="col-6 col-sm-3 text-right" th:text="${item.shipsDestroyed}">2</div>
									<div class="col-6 col-sm-3 d-md-none" th:text="#{ships_lost}">Lost</div>
									<div class="col-6 col-sm-3 text-right" th:text="${item.shipsLost}">3</div>
									<div class="col-6 col-sm-3 d-md-none mb-2" th:text="#{ships_captured}">Captured</div>
									<div class="col-6 col-sm-3 text-right" th:text="${item.shipsCaptured}">3</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="card">
					<h2 class="card-header" th:text="#{starbase_statistics}">Starbase statistics</h2>
					<div class="card-body">
						<div class="row d-none d-md-flex skr-table-header font-weight-bold">
							<div class="col-3" th:text="#{faction}">Faction</div>
							<div class="col-9">
								<div class="row">
									<div class="col-3 text-right" th:text="#{starbases_created}">Created</div>
									<div class="col-3 text-right" th:text="#{starbases_conquered}">Conquered</div>
									<div class="col-3 text-right" th:text="#{starbases_lost}">Lost</div>
									<div class="col-3 text-right" th:text="#{starbases_maxed_out}">Maxed out</div>
								</div>
							</div>
						</div>
						<div class="row user-stats-row" th:each="item : ${stats}">
							<div class="d-none d-md-flex col-md-3" th:text="${item.factionName}">Orion Conglomerate</div>
							<div class="d-md-none col-md-3 font-weight-bold mt-2" th:text="${item.factionName}">Orion Conglomerate</div>
							<div class="col-md-9">
								<div class="row">
									<div class="col-6 col-sm-3 d-md-none" th:text="|#{starbases_created}:|">Created</div>
									<div class="col-6 col-sm-3 text-right" th:text="${item.starbasesCreated}">1</div>
									<div class="col-6 col-sm-3 d-md-none" th:text="|#{starbases_conquered}:|">Conquered</div>
									<div class="col-6 col-sm-3 text-right" th:text="${item.starbasesConquered}">2</div>
									<div class="col-6 col-sm-3 d-md-none" th:text="|#{starbases_lost}:|">Lost</div>
									<div class="col-6 col-sm-3 text-right" th:text="${item.starbasesLost}">3</div>
									<div class="col-6 col-sm-3 d-md-none mb-2" th:text="|#{starbases_maxed_out}:|">Maxed out</div>
									<div class="col-6 col-sm-3 text-right" th:text="${item.starbasesMaxed}">3</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>