<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content">
		<input type="hidden" th:value="#{will_be_deleted}" id="skr-overview-will-be-deleted-text" />
		<input type="hidden" th:value="#{will_not_be_deleted}" id="skr-overview-will-not-be-deleted-text" />

		<table class="table tutorial-element-stage-NEWS" data-placement="top">
			<tbody>
				<tr th:each="n : ${news}">
					<td>
						<img data-dismiss="modal" aria-label="Close" th:data1="${n.clickTargetType}" th:class="${n.clickTargetId != null} ? 'cursor-pointer' : ''"
							th:onclick="${n.clickTargetId != null} ? |;ingame.select(this.getAttribute('data1'), ${n.clickTargetId})| : ''" th:src="${n.image}" />
					</td>
					<td th:utext="${n.template}">Text</td>
					<td th:text="${#dates.format(n.date, 'dd.MM.yyyy HH:mm')}">31.12.2018 15:45</td>
					<td>
						<button class="btn btn-primary skr-overview-toggle-delete" th:id="${'skr-overview-toggle-news-delete-button-' + n.id}"
							th:title="#{news_deletion_description}" th:onclick="|ingame.toggleNewsDelete(${n.id})|"
							th:text="${n.delete} ? #{will_be_deleted} : #{will_not_be_deleted}">Will be deleted</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>