<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{user_management} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<form action="/admin/users" method="GET">
				<div class="card">
					<div class="card-header">
						<h5 class="mb-0" th:text="#{search_options}">Search options</h5>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-sm-10 col-md-9">
								<div class="row">
									<div class="col-sm-6 col-lg-3">
										<input type="text" class="form-control" id="username" name="username" th:placeholder="#{username}" th:value="${param.username}" />
									</div>
									<div class="col-sm-6 col-lg-3">
										<select class="custom-select" id="tutorial" name="tutorial">
											<option th:text="|-- #{tutorial} --|" th:value="''"></option>
											<option th:selected="${param.tutorial != null && param.tutorial.toString().equals('false')}" th:text="#{started}" value="false">No</option>
											<option th:selected="${param.tutorial != null && param.tutorial.toString().equals('true')}" th:text="#{finished}" value="true">Yes</option>
										</select>
									</div>
									<div class="col-sm-6 col-lg-3">
										<select class="custom-select" id="createdGames" name="createdGames">
											<option th:text="|-- #{created_games} --|" th:value="''"></option>
											<option th:selected="${param.createdGames != null && param.createdGames.toString().equals('true')}" th:text="#{yes}" value="true">Yes</option>
											<option th:selected="${param.createdGames != null && param.createdGames.toString().equals('false')}" th:text="#{no}" value="false">No</option>
										</select>
									</div>
									<div class="col-sm-6 col-lg-3">
										<select class="custom-select" id="playedGames" name="playedGames">
											<option th:text="|-- #{played_games} --|" th:value="''"></option>
											<option th:selected="${param.playedGames != null && param.playedGames.toString().equals('true')}" th:text="#{yes}" value="true">Yes</option>
											<option th:selected="${param.playedGames != null && param.playedGames.toString().equals('false')}" th:text="#{no}" value="false">No</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-2 col-md-3 text-right">
								<button type="submit" class="btn btn-primary">
									<i class="fas fa-search"></i>
									<span th:text="#{search}">Search</span>
								</button>
								<a href="/admin/users?page=0&sortField=USERS_USERNAME&sortDirection=true" class="btn btn-danger">
									<i class="fas fa-minus-circle"></i>
									<span th:text="#{reset}">Reset</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</form>

			<div class="row skr-table-prefix-line">
				<div class="col-sm-5 col-md-6 col-lg-7 col-xl-8 font-weight-bold" th:text="|#{total_results}: ${results.getTotalElements()}|">Total results: 5</div>
				<div class="col-sm-7 col-md-6 col-lg-5 col-xl-4 text-right">
					<select class="custom-select skr-search-sort-select">
						<option
							th:each="sortItem : ${sortItems}"
							th:value="|${sortItem.sortField.name()}-${sortItem.ascending}|"
							th:selected="${(param.sortField != null && param.sortField.toString().equals(sortItem.sortField.name()) && param.sortDirection != null && param.sortDirection.toString().equals(sortItem.ascending.toString())) || (param.sortDirection == null && sortItem.sortField.name().equals('USERS_USERNAME') && !sortItem.ascending)}"
							th:text="#{${sortItem.sortField.i18nKey}} + ' (' + (${sortItem.ascending} ? #{sort_ascending} : #{sort_descending}) + ')'"
							>Name (ascending order)</option
						>
					</select>
				</div>
			</div>

			<div id="skr-admin-delete-user-modal-wrapper">
				<div class="modal" id="skr-admin-delete-user-modal" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<div class="text-center" style="width: 100%;" th:text="#{really_delete_user}">Do you really want to delete this user? This cannot be undone!</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel}">Cancel</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal" onclick="users.deleteUser()" th:text="#{yes}">Yes</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="skr-table">
				<div class="row skr-table-header d-none d-sm-none d-md-flex">
					<div class="col-2" th:text="#{username}"></div>
					<div class="col-2" th:text="#{tutorial}"></div>
					<div class="col-6">
						<div class="row">
							<div class="col-3 text-right" th:text="#{games_created}"></div>
							<div class="col-3 text-right" th:text="#{games_played}"></div>
							<div class="col-3 text-right" th:text="#{games_won}"></div>
							<div class="col-3 text-right" th:text="#{games_lost}"></div>
						</div>
					</div>
					<div class="col-2"></div>
				</div>
				<div class="row" th:if="${results.isEmpty()}">
					<div class="col-12 font-weight-bold text-center" th:text="#{no_users_found}">No users found.</div>
				</div>
				<div class="row skr-table-row" th:each="result : ${results}">
					<div class="col-6 col-sm-3 d-md-none font-weight-bold" th:text="|#{name}:|">Name</div>
					<div class="col-6 col-sm-3 col-md-2 value" th:text="${result.username}">Username</div>
					<div class="col-6 col-sm-3 d-none d-lg-inline-block col-md-2 value">
						<div th:text="${result.tutorialFinished} ? #{finished} : (${result.tutorialStage != null} ? ${result.tutorialStage} : '-')"></div>
					</div>
					<div class="col-6 col-sm-3 d-md-none font-weight-bold" th:text="|#{tutorial} #{started}:|">Tutorial</div>
					<div class="col-6 col-sm-3 d-md-none col-md-2 value" th:text="${result.tutorialFinished} ? #{finished} : (${result.tutorialStage != null} ? ${result.tutorialStage} : '-')">Yes</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-8 col-sm-3 d-md-none font-weight-bold" th:text="|#{games_created}:|">Name</div>
							<div class="col-4 col-sm-3 value text-right" th:text="${result.gamesCreated}">5</div>
							<div class="col-8 col-sm-3 d-md-none font-weight-bold" th:text="|#{games_played}:|">Name</div>
							<div class="col-4 col-sm-3 value text-right" th:text="${result.gamesPlayed}">7</div>
							<div class="col-8 col-sm-3 d-md-none font-weight-bold" th:text="|#{games_won}:|">Name</div>
							<div class="col-4 col-sm-3 value text-right" th:text="${result.gamesWon}">2</div>
							<div class="col-8 col-sm-3 d-md-none font-weight-bold" th:text="|#{games_lost}:|">Name</div>
							<div class="col-4 col-sm-3 value text-right" th:text="${result.gamesLost}">3</div>
						</div>
					</div>
					<div class="col-md-2 text-right">
						<button type="button" class="btn btn-danger" th:onclick="|users.showDeleteUserModal(${result.id})|">
							<i class="fas fa-trash-alt"></i>
							<span class="d-md-none d-lg-inline-block" th:text="#{delete_user}">Delete user</span>
						</button>
					</div>
				</div>

				<nav class="mt-2" th:if="${!results.isEmpty()}">
					<input type="hidden" id="pagination-max-page" th:value="${results.getTotalPages()}" />

					<ul class="pagination justify-content-center">
						<li class="page-item" id="pagination-prev">
							<a class="page-link" href="#">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="page-item" th:each="page : ${#numbers.sequence(1, results.getTotalPages())}">
							<a class="page-link pagination-number" href="#" th:text="${page}">1</a>
						</li>
						<li class="page-item" id="pagination-next">
							<a class="page-link" href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<script type="module" th:src="@{/js/modules/dashboard/admin/users.js}"></script>
		</section>
	</body>
</html>
